.header {
  display: flex;

  &__left {
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
  }

  &__right {

  }

  &__type {
    flex: 1;
  }
}

.content {
  &__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }

  &__week-day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
  }

  &__week-type {
    --color:
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
  }
}

.date {
  text-align: center;
  height: 48px;

  &__active {

  }
}
