:host {
  --color: #{color('brand', '4')};
  --color-checked: #{color('brand', '4')};
  transition: 300ms all ease;
}

// ////////////////////
// disabled
// ////////////////////

:host(.radio-disabled) {
  opacity: .5;
}

// ////////////////////
// hover
// ////////////////////

@media (any-hover: hover) {
  :host(.med-radio:hover) {
    --color: #{color('brand', '5')};
    --color-checked: #{color('brand', '5')};
  }

  :host(.med-radio--secondary:hover) {
    --color: #{color('brand', '3')};
    --color-checked: #{color('brand', '3')};
  }
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --color: #{curr-color('color', '4')};
  --color-checked: #{curr-color('color', '4')};
}

@media (any-hover: hover) {
  :host(.med-color.med-radio:hover) {
    --color: #{curr-color('color', '5')};
    --color-checked: #{curr-color('color', '5')};
  }

  :host(.med-color.med-radio--secondary:hover) {
    --color: #{curr-color('color', '3')};
    --color-checked: #{curr-color('color', '3')};
  }
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --color: #{curr-color('neutral')};
  --color-checked: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --color: #{curr-color('feedback')};
  --color-checked: #{curr-color('feedback')};
}

// ////////////////////
// secondary
// ////////////////////

:host(.med-radio--secondary) {
  --width: 16px;
  --height: 16px;
  --inner-width: 10px;
  --inner-height: 10px;

  width: var(--width);
  height: var(--height);

  .radio-icon {
    border-width: 0;
    background: #fff;
  }
}
