@import "./tab-bar";
@import "../../themes/ionic.globals.md";
@import "../tab-button/tab-button.md.vars";

:host {
  // default color / background
  --background: #{$tabbar-md-background};
  --background-focused: #{$tabbar-md-background-focused};
  --border: #{1px solid $tabbar-md-border-color};
  --color: #{$tab-button-md-text-color};
  --color-selected: #{$tabbar-md-color-selected};

  height: 56px;
}

/* :host {
  --background: #{color('neutral', '1')};

  height: auto;
  contain: initial;
  box-shadow: none;
}

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
}

:host(.med-color-neutral) ::slotted(ion-tab-button) {
  --color: #{curr-color('neutral', null, 'contrast')};
  --color-hover: #{curr-color('brand', null, 'contrast')};
  --color-focused: #{curr-color('brand', null, 'contrast')};
  --color-selected: #{curr-color('brand', null, 'contrast')};
  --color-activated: #{curr-color('brand', null, 'contrast')};
  --color-icon: #{curr-color('neutral', null, 'contrast')};
}
 */

:host {
  --background: #{color('neutral', '1')};
  contain: initial;
  padding: 8px 0;
}

::slotted(ion-tab-button) {
  --padding-gap: var(--gap);
}