:host(.med-toggle) {
  --background: #{color('neutral', '4')};
  --background-checked: #{color('brand', '3')};
  --handle-height: calc(20px - (2px * 2));
  --handle-width: calc(20px - (2px * 2));
  height: 20px;
  width: 32px;
}

// ////////////////////
// state
// ////////////////////

:host(.toggle-disabled) {
  opacity: 0.5;
}

// ////////////////////
// dsColor
// ////////////////////

:host(.med-color) {
  --background-checked: #{curr-color('color', '3')};
}

:host(.med-color-neutral) {
  --background-checked: #{curr-color('neutral')};
}

:host(.med-color-feedback) {
  --background-checked: #{curr-color('feedback')};
}
