:host {
  --background: #{color('neutral', '2')};
  --background-row: #{color('neutral', '2')};

  --semana-color: #{color('neutral', '10')};
  --semana-font-size: 10px;

  --numero-color: #{color('neutral', '10')};
  --numero-font-size: 16px;

  --semana-back-color: #{color('neutral', '10')};
  --semana-back-font-size: 10px;

  --description-color: #{color('neutral', '10')};
  --description-font-size: 14px;

  --tempo-color: #{color('neutral', '10')};
  --tempo-font-size: 12px;

  --button-flip-color: #{color('brand', '4')};

  --padding: 8px;
}

:host {
  background: var(--background);
  padding: var(--padding);
  border-radius: 8px 31px 31px 8px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 100%;
}

.med-semana {
  &__heading-container {
    padding-right: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }

  &__back {
    --font-size: var(--semana-back-font-size);
    --line-height: 12px;
    --font-weight: 400;
    --color: var(--semana-back-color);
  }

  &__text-animate  {
    position: absolute;
    left: 0;
    top: 0;

    &--default {
      transition: transform 0.6s ease;
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    &--back {
      transition: transform 0.6s ease;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
    }

    // state
    &--flipped {
      &.med-semana__text-animate--default {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
      }

      &.med-semana__text-animate--back {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
  }

  &__semana {
    --font-size: var(--semana-font-size);
    --line-height: 12px;
    --font-weight: 400;
    --color: var(--semana-color);
  }

  &__numero {
    --font-size: var(--numero-font-size);
    --line-height: 16px;
    --font-weight: 600;
    --color: var(--numero-color);
  }

  &__button-flip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--button-flip-color);
    position: relative;
    margin-top: 4px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 1px;
      background: var(--button-flip-color);
    }

    &::before {
      transform: rotate(90deg);
      transition: transform 0.7s;
    }

    // state
    &--active {
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  &__chart-container {
    display: flex;
  }

  &__chart {
    --stroke-background: #{color('neutral', '1')};

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.tp-scrollbar {
  --padding: 0;
}

//////////////////////////////
// dsSize
//////////////////////////////

:host(.med-semana--sm) {
  --padding: 12px;
  border-radius: 8px 40px 40px 8px;

  .med-semana {
    &__semana {
      --semana-font-size: 12px;
      --line-height: 12px;
      --font-weight: 400;
    }

    &__numero {
      --numero-font-size: 24px;
      --line-height: 24px;
      --font-weight: 600;
    }

    &__back {
      --semana-back-font-size: 16px;
      --line-height: 16px;
    }

    &__heading-container {
      padding-right: 45px;
    }
  }
}

//////////////////////////////
// dsColor
//////////////////////////////

:host(.med-color) {
  --button-flip-color: #{curr-color('color', '4')};
}

:host(.med-color-neutral) {
  --button-flip-color: #{curr-color('neutral')};
}

:host(.med-color-feedback) {
  --button-flip-color: #{curr-color('feedback')};
}

//////////////////////////////
// state
//////////////////////////////

:host(.med-semana--active) {
  --background: #{color('brand', '1')};
  // transition: background-color 0.6s ease;
}

////////////////////
// state dsColor
////////////////////

:host(.med-semana--active.med-color) {
  --background: #{curr-color('color', '1')};
  --semana-color: #{curr-color('color', '1', 'contrast')};
  --numero-color: #{curr-color('color', '1', 'contrast')};
  --semana-back-color: #{color('color', '1', 'contrast')};

  .med-semana {
    &__chart {
      --text-color-front: #{curr-color('color', '1', 'contrast')};
    }
  }
}

:host(.med-semana--active.med-color-neutral) {
  --background: #{curr-color('neutral')};
  --semana-color: #{curr-color('neutral', null, 'contrast')};
  --numero-color: #{curr-color('neutral', null, 'contrast')};
  --semana-back-color: #{color('neutral', null, 'contrast')};
  --button-flip-color: #{curr-color('neutral', null, 'contrast')};

  .med-semana {
    &__chart {
      --text-color-front: #{curr-color('neutral', null, 'contrast')};
    }
  }
}

:host(.med-semana--active.med-color-feedback) {
  --background: #{curr-color('feedback')};
  --semana-color: #{curr-color('feedback', null, 'contrast')};
  --numero-color: #{curr-color('feedback', null, 'contrast')};
  --semana-back-color: #{color('feedback', null, 'contrast')};
  --button-flip-color: #{curr-color('feedback', null, 'contrast')};

  .med-semana {
    &__chart {
      --text-color-front: #{curr-color('feedback', null, 'contrast')};
    }
  }
}

//@import './med-semana.skin.scss';

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

:host(.med-semana--skin-lista) {
  --background: none;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  max-width: unset;

  .med-semana {
    &__heading-container {
      flex-direction: row;
      cursor: initial;
    }

    &__text-container {
      display: flex;
      align-items: baseline;
      margin: 8px;
    }

    &__text {
      text-transform: uppercase;

      &--number {
        margin: 0 16px 0 4px;
      }
    }

    &__week-container {
      display: flex;
      margin-left: 4px;
    }

    &__auxiliar {
      margin-right: 4px;
    }

    &__chart-container {
      flex-direction: column;
    }

    &__chart-row {
      display: flex;
      width: 100%;
      height: 60px;
      padding: 8px;
      border-radius: 31px 8px 8px 31px;
      background: var(--background-row);
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &__description {
      --font-size: var(--description-font-size);
      --line-height: 16px;
      --font-weight: 400;
      --color: var(--description-color);

      display: flex;
      align-items: center;
      padding: 0 16px 0 8px;
      max-height: 48px;
      min-width: 268px;
      text-align: left;
    }

    &__tempo-container {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__download-button {
      --padding: 5px 0 5px 5px;
    }

    &__tempo {
      --font-size: var(--tempo-font-size);
      --line-height: 12px;
      --font-weight: 400;
      --color: var(--tempo-color);
    }
  }
}

//////////////////////////////
// dsSize
//////////////////////////////

:host(.med-semana--skin-lista.med-semana--sm) {
  .med-semana__download-button {
    display: none;
  }

  .med-semana__tempo-container {
    justify-content: center;
  }

  .med-semana__chart-row {
    height: 71px;
    border-radius: 50px 8px 8px 50px;
  }
}

////////////////////
// state
////////////////////

:host(.med-semana--skin-lista.med-semana--active) {
  --background: none;
  --background-row: #{color('brand', '1')};
}

:host(.med-color.med-semana--active.med-semana--skin-lista) {
  --background-row: #{curr-color('color', '1')};
}

:host(.med-semana--active.med-color-neutral.med-semana--skin-lista) {
  --background-row: #{curr-color('neutral')};
}

:host(.med-semana--active.med-color-feedback.med-semana--skin-lista) {
  --background-row: #{curr-color('feedback')};
}
