:host(.med-button--tertiary) {
  --background: transparent;
  --border-color: transparent;
  --color: #{color("neutral", "10")};

  --bg-hover: transparent;
  --bg-hover-opacity: 0;
  --border-color-hover: transparent;
  --color-hover: #{color("brand", "3")};

  --bg-focused: #{color("brand", "3")};
  --bg-focused-opacity: 0.16;
  --border-color-focused: transparent;
  --color-focused: #{color("brand", "3")};

  --bg-activated: #{color("brand", "3")};
  --bg-activated-opacity: 0.16;
  --border-color-activated: transparent;
  --color-activated: #{color("brand", "3")};
  
  cursor: pointer;
}

:host(.med-button--tertiary) ion-ripple-effect {
  --ripple-color: #{color("brand", "3")};
  --ripple-opacity: 0.16;
}

//////////////////////////////
// states
//////////////////////////////
  
////////////////////
// disabled
////////////////////

:host(.med-button--tertiary.button-disabled) {
  --bg-hover: transparent;
  --color: #{color("neutral", "5")};
  cursor: initial;
  pointer-events: none;
}

//////////////////////////////
// dsColor
//////////////////////////////

:host(.med-button--tertiary.med-color) {  
  --bg-hover: #{curr-color("color", "3")};
  --color-hover: #{curr-color("color", "3")};

  --bg-focused: #{curr-color("color", "3")};
  --color-focused: #{curr0color("color", "3")};

  --bg-activated: #{curr-color("color", "3")};
  --color-activated: #{curr-color("color", "3")};
}

:host(.med-button--tertiary.med-color) ion-ripple-effect {
  --ripple-color: #{curr-color("color", "3")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color) {
  --color-hover: #{curr-color("color", "3")};
  --bg-hover: #{curr-color("color", "3")};

  --bg-activated: #{curr-color("color", "3")};
  --color-activated: #{curr-color("color", "3")};
}

:host(.med-button--tertiary.button-has-icon-only.med-color) ion-ripple-effect {
  --ripple-color: #{curr-color("color", "3")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color.button-disabled) {
  --background: transparent !important;
}

////////////////////
// neutral
////////////////////
  
:host(.med-button--tertiary.med-color-neutral) { 
  --bg-hover: #{curr-color("neutral")};
  --color-hover: #{curr-color("neutral")};

  --bg-focused: #{curr-color("neutral")};
  --color-focused: #{curr-color("neutral")};

  --bg-activated: #{curr-color("neutral")};
  --color-activated: #{curr-color("neutral")};
}

:host(.med-button--tertiary.med-color-neutral) ion-ripple-effect {
  --ripple-color: #{color("neutral")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color-neutral) {
  --color-hover: #{curr-color("neutral")};
  --bg-hover: #{curr-color("neutral")};
  --bg-hover-opacity: 0.08;

  --bg-activated: #{curr-color("neutral")};
  --bg-activated-opacity: 0.16;
  --color-activated: #{curr-color("neutral")};
}

:host(.med-button--tertiary.button-has-icon-only.med-color-neutral) ion-ripple-effect {
  --ripple-color: #{color("neutral")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color-neutral.button-disabled) {
  --background: transparent !important;
}

////////////////////
// feedback
////////////////////
  
:host(.med-button--tertiary.med-color-feedback) { 
  --bg-hover: #{curr-color("feedback")};
  --color-hover: #{curr-color("feedback")};

  --bg-focused: #{curr-color("feedback")};
  --color-focused: #{curr-color("feedback")};

  --bg-activated: #{curr-color("feedback")};
  --color-activated: #{curr-color("feedback")};
}

:host(.med-button--tertiary.med-color-feedback) ion-ripple-effect {
  --ripple-color: #{curr-color("feedback")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color-feedback) {
  --color-hover: #{curr-color("feedback")};
  --bg-hover: #{curr-color("feedback")};
  --bg-hover-opacity: 0.08;

  --bg-activated: #{curr-color("feedback")};
  --bg-activated-opacity: 0.16;
  --color-activated: #{curr-color("feedback")};
}

:host(.med-button--tertiary.button-has-icon-only.med-color-feedback) ion-ripple-effect {
  --ripple-color: #{curr-color("feedback")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.button-has-icon-only.med-color-feedback.button-disabled) {
  --background: transparent !important;
}

//////////////////////////////
// icon-only
//////////////////////////////

:host(.med-button--tertiary.button-has-icon-only) {
  --color-hover: #{color("neutral", "10")};
  --bg-hover: #{color("neutral", "10")};
  --bg-hover-opacity: 0.08;

  --bg-activated: #{color("neutral", "10")};
  --bg-activated-opacity: 0.16;
  --color-activated: #{color("neutral", "10")};

  --min-height: 48px;
  --min-width: 48px;
  --icon-font-size: 32px;
}

:host(.med-button--tertiary.button-has-icon-only) ion-ripple-effect {
  --ripple-color: #{color("neutral", "10")};
  --ripple-opacity: 0.16;
}

:host(.med-button--tertiary.med-button--lg.button-has-icon-only) {
  --min-height: 64px;
  --min-width: 64px;
  --icon-font-size: 48px;
}
  
:host(.med-button--tertiary.med-button--md.button-has-icon-only) {
  --min-height: 48px;
  --min-width: 48px;
  --icon-font-size: 32px;
}
  
:host(.med-button--tertiary.med-button--sm.button-has-icon-only) {
  --min-height: 40px;
  --min-width: 40px;
  --icon-font-size: 24px;
}

:host(.med-button--tertiary.med-button--xs.button-has-icon-only) {
  --min-height: 32px;
  --min-width: 32px;
  --icon-font-size: 24px;
}

:host(.med-button--tertiary.med-button--xxs.button-has-icon-only) {
  --min-height: 24px;
  --min-width: 24px;
  --icon-font-size: 24px;
}

:host(.med-button--tertiary.med-button--xxxs.button-has-icon-only) {
  --min-height: 16px;
  --min-width: 16px;
  --icon-font-size: 16px;
}