:host(.med-button--secondary) {
    --background: transparent;
    --border-color: #{color("brand", "3")};
    --color: #{color("brand", "3")};
  
    --bg-hover: transparent;
    --bg-hover-opacity: 0;
    --border-color-hover: #{color("brand", "2")};
    --color-hover: #{color("brand", "4")};
  
    --bg-focused: transparent;
    --bg-focused-opacity: 0;
    --border-color-focused: #{color("brand", "4")};
    --color-focused: #{color("brand", "2")};
  
    --bg-activated: transparent;
    --bg-activated-opacity: 0;
    --border-color-activated: #{color("brand", "2")};
  
    --color-activated: #{color("brand", "3")};
  
    --border-width: 1px;
    --border-style: solid;
  
    cursor: pointer;
  }
  
  :host(.med-button--secondary) ion-ripple-effect {
    --ripple-color: transparent;
    --ripple-opacity: transparent;
  }

  ////////////////////
  // icon-only
  ////////////////////
  
  :host(.button-has-icon-only) {
    --min-height: 48px;
    --min-width: 48px;
    --icon-font-size: 24px;
    --padding: 0;
    --border-width: 2px;
  }
  
  //////////////////////////////
  // block
  //////////////////////////////
  
  :host(.med-button--secondary.button-block) {
    width: 100%;
  }
     
  //////////////////////////////
  // states
  //////////////////////////////
  
  ////////////////////
  // disabled
  ////////////////////
  
  :host(.med-button--secondary.button-disabled) {
    cursor: initial;
    pointer-events: none;
    --border-color: #{color("neutral", "3")};
    --color: #{color("neutral", "5")};
  }
  
  //////////////////////////////
  // dsColor
  //////////////////////////////
  
  :host(.med-button--secondary.med-color) {
    --border-color: #{curr-color("color", "3")};
    --color: #{curr-color("color", "3")};
  
    --bg-hover: #{curr-color("color", "3")};
    --border-color-hover: #{curr-color("color", "2")};
    --color-hover: #{curr-color("color", "3")};
  
    --bg-focused: #{curr-color("color", "3")};
    --border-color-focused: #{curr-color("color", "2")};
    --color-focused: #{curr-color("color", "3")};

    --border-color-activated: #{curr-color("color", "3")};
    --color-activated: #{curr-color("color", "3")};
  }
  
  :host(.med-button--secondary.med-color-neutral) {
    --border-color: #{curr-color("neutral")};
    --color: #{curr-color("neutral")};
  
    --border-color-hover: #{curr-color("neutral")};
    --color-hover: #{curr-color("neutral")};
  
    --border-color-focused: #{curr-color("neutral")};
    --color-focused: #{curr-color("neutral")};
  
    --border-color-activated: #{curr-color("neutral")};
    --color-activated: #{curr-color("neutral")};
  }
    
  :host(.med-button--secondary.med-color-feedback) {
    --border-color: #{curr-color("feedback")};
    --color: #{curr-color("feedback")};
  
    --border-color-hover: #{curr-color("feedback")};
    --color-hover: #{curr-color("feedback")};

    --border-color-focused: #{curr-color("feedback")};
    --color-focused: #{curr-color("feedback")};
  
    --border-color-activated: #{curr-color("feedback")};
    --color-activated: #{curr-color("feedback")};
  }