:host {
    --background: #{color("brand", "3")};
    --border-color: #{color("brand", "3")};
    --color: #{color("brand", "3", "contrast")};

    --bg-hover: #{color("brand", "2")};
    --bg-hover-opacity: 1;
    --border-color-hover: transparent;
    --color-hover: #{color("brand", "2", "contrast")};

    --bg-focused: #{color("brand", "2")};
    --bg-focused-opacity: 1;
    --border-color-focused: transparent;
    --color-focused: #{color("brand", "2", "contrast")};

    --bg-activated: transparent;
    --bg-activated-opacity: 0;
    --border-color-activated: transparent;
    --color-activated: #{color("brand", "2", "contrast")};

    --font-size: 16px;
    --font-weight: 600;
    --line-height: 16px;
    --padding: 24px;
    --padding-text: 8px;
    --border-radius: 500px;
    --min-height: 48px;
    --min-width: 48px;
    --transition: background 300ms ease-out, color 300ms ease-out,
      border-color 300ms ease-out, opacity 300ms ease-out;

    --icon-font-size: 24px;
  }

  :host {
    min-height: var(--min-height);
    min-width: var(--min-width);
    height: auto;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-transform: none;
    margin: 0;
    letter-spacing: initial;
    cursor: pointer;
  }

  :host .button-native {
    padding: 0 var(--padding);
    min-height: var(--min-height);
    line-height: var(--line-height);
    box-shadow: none;
  }

  :host a.button-native {
    display: flex;
    align-items: center;
  }

  :host .button-inner__text {
    padding: 0 var(--padding-text);
    display: flex;
    align-items: center;
  }

  :host .button-native::after {
    display: none;
  }

  :host .button-native::before {
    @include button-state();
    transition: var(--transition);
  }

  //////////////////////////////
  // ion-ripple-effect
  //////////////////////////////

  :host ion-ripple-effect {
    --ripple-color: #{color("brand", "2")};
    --ripple-opacity: 1;
  }

  //////////////////////////////
  // ion-icon
  //////////////////////////////

  ::slotted(ion-icon) {
    min-width: var(--icon-font-size);
    font-size: var(--icon-font-size);
    stroke: var(--color);
    transition: stroke 300ms ease-out;
  }

  ::slotted(ion-icon[slot="start"]) {
    margin: 0;
  }

  ::slotted(ion-icon[slot="end"]) {
    margin: 0;
  }

  ::slotted(ion-icon[slot="icon-only"]) {
    min-width: var(--icon-font-size);
    font-size: var(--icon-font-size);
  }

  //////////////////////////////
  // icon-only
  //////////////////////////////

  :host(.button-has-icon-only) {
    --padding: 0;
    --padding-text: 0;
    --border-radius: 500px;
    --min-height: 48px;
    --min-width: 48px;
    --icon-font-size: 24px;
  }

  //////////////////////////////
  // block
  //////////////////////////////

  :host(.med-button--primary.button-block) {
    width: 100%;
  }

  //////////////////////////////
  // dsSize
  //////////////////////////////

  :host(.med-button--md) {
    --min-height: 48px;
    --min-height: 48px;
    --padding: 24px;
    --icon-font-size: 24px;
    --font-size: 16px;
    --font-weight: 600;
    --line-height: 16px;
  }

  :host(.med-button--md.button-has-icon-only) {
    --min-height: 48px;
    --min-width: 48px;
    --icon-font-size: 24px;
  }

  :host(.med-button--sm) {
    --min-height: 40px;
    --min-height: 40px;
    --padding: 24px;
    --icon-font-size: 24px;
    --font-size: 16px;
    --font-weight: 600;
    --line-height: 16px;
  }

  :host(.med-button--sm.button-has-icon-only) {
    --min-height: 40px;
    --min-width: 40px;
    --icon-font-size: 24px;
  }

  :host(.med-button--xs) {
    --min-height: 32px;
    --min-width: 32px;
    --padding: 16px;
    --icon-font-size: 16px;
    --font-size: 14px;
    --font-weight: 600;
    --line-height: 16px;
  }

  :host(.med-button--xs.button-has-icon-only) {
    --min-height: 32px;
    --min-width: 32px;
    --icon-font-size: 24px;
  }

  :host(.med-button--xxs) {
    --min-height: 24px;
    --min-width: 16px;
    --padding: 8px;
    --icon-font-size: 16px;
    --font-size: 12px;
    --font-weight: 600;
    --line-height: 12px;
  }

  :host(.med-button--xxs.button-has-icon-only) {
    --min-height: 24px;
    --min-width: 24px;
    --icon-font-size: 16px;
  }

  //////////////////////////////
  // states
  //////////////////////////////

  ////////////////////
  // hover
  ////////////////////

  @media (any-hover: hover) {
    :host(.med-button:hover) {
      color: var(--color-hover);
      filter: var(--filter-hover);
    }

    :host(.med-button:hover) .button-native {
      border-color: var(--border-color-hover);
    }

    :host(.med-button:hover) .button-native::before {
      background: var(--bg-hover);
      opacity: var(--bg-hover-opacity);
    }

    :host(.med-button:hover) ::slotted(ion-icon) {
      stroke: var(--color-hover);
    }
  }

  ////////////////////
  // focus
  ////////////////////

  :host(.ion-focused) {
    color: var(--color-focused);
  }

  :host(.ion-focused) .button-native {
    border-color: var(--border-color-focused);
  }

  :host(.ion-focused) .button-native::before {
    background: var(--bg-focused);
    opacity: var(--bg-focused-opacity);
    border-color: var(--border-color-focused);
  }

  :host(.ion-focused) ::slotted(ion-icon) {
    stroke: var(--color-focused);
  }

  ////////////////////
  // activated
  ////////////////////

  :host(.ion-activated) {
    color: var(--color-activated);
  }

  :host(.ion-activated) .button-native {
    border-color: var(--border-color-activated);
  }

  :host(.ion-activated) .button-native::before {
    background: var(--bg-activated);
    opacity: var(--bg-activated-opacity);
  }

  :host(.ion-activated) ::slotted(ion-icon) {
    stroke: var(--color-activated);
  }

  ////////////////////
  // disabled
  ////////////////////

  :host(.button-disabled),
  :host(.med-color.button-disabled),
  :host(.med-color-neutral.button-disabled),
  :host(.med-color-feedback.button-disabled) {
    cursor: initial;
    pointer-events: none;
    --background: #{color("neutral", "3")};
    --color: #{color("neutral", "5")};
  }

  //////////////////////////////
  // dsColor
  //////////////////////////////

  :host(.med-color) {
    --background: #{curr-color("color", "3")};
    --border-color: #{curr-color("color", "3")};
    --color: #{curr-color("color", "gradient", "contrast")};

    --bg-hover: #{curr-color("color", "1")};
    --color-hover: #{curr-color("color", "gradient", "contrast")};

    --bg-focused: #{curr-color("color", "1")};
    --color-focused: #{curr-color("color", "gradient", "contrast")};
    --color-activated: #{curr-color("color", "gradient", "contrast")};
  }

  :host(.med-color) ion-ripple-effect {
    --ripple-color: #{curr-color("color", "2")};
  }

  :host(.med-color-neutral) {
    --background: #{curr-color("neutral")};
    --border-color: #{curr-color("neutral")};
    --color: #{curr-color("neutral", null, "contrast")};

    --bg-hover: #{curr-color("neutral", null, "contrast",0.08)};
    --color-hover: #{curr-color("neutral", null, "contrast")};

    --bg-focused: #{curr-color("neutral", null, "contrast")};
    --bg-focused-opacity: #{0.08};
    --color-focused: #{curr-color("neutral", null, "contrast")};

    --color-activated: #{curr-color("neutral", null, "contrast")};
  }

  :host(.med-color-neutral) ion-ripple-effect {
    --ripple-color: #{curr-color("neutral", null, "contrast")};
    --ripple-opacity: #{0.08};
  }

  :host(.med-color-feedback) {
    --background: #{curr-color("feedback")};
    --border-color: #{curr-color("feedback")};
    --color: #{curr-color("feedback", null, "contrast")};

    --bg-hover: #{curr-color("feedback", null, "contrast", 0.08)};
    --color-hover: #{curr-color("feedback", null, "contrast")};

    --bg-focused: #{curr-color("feedback", null, "contrast")};
    --bg-focused-opacity: #{0.08};
    --color-focused: #{curr-color("feedback", null, "contrast")};

    --color-activated: #{curr-color("feedback", null, "contrast")};
  }

  :host(.med-color-feedback) ion-ripple-effect {
    --ripple-color: #{curr-color("feedback", null, "contrast")};
    --ripple-opacity: #{0.08};
  }
