.med-sheet {
  height: var(--height-mobile);

  &__header {
    margin: 20px 0;
    display: flex;
  }

  &__button {
    margin-left: auto;
  }

  &__content {
    overflow: auto;
    position: relative;
  }
}

@media only screen and (min-width: 992px) {
  :host {
    height:var(--height-desktop);
  }
}
