:host {
  --track-background: #{color('neutral', '1')};
  --progress-background: #{color('brand', '4')};
  --label-color: #{color('brand', '4')};
  --border-radius: 4px;
  --height: 8px;
}

:host {
  display: flex;
  align-items: center;
}

.med-chart-bar-horizontal {
  &__container {
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-right: 12px;
  }

  &__progress,
  &__track {
    transform-origin: left;
    transition: transform 150ms linear;
    height: var(--height);
    border-radius: var(--border-radius);
  }

  &__progress {
    background: var(--progress-background);
    transform: translate(calc(var(--progress) * 1%));
    position: absolute;
    right: 0;
    left: 0;
    animation: start 300ms linear forwards;
    top: 0;
  }

  &__track {
    background: var(--track-background);
  }

  &__label {
    --color: var(--label-color);
    --font-size: 10px;
    --font-weight: 600;
    --line-height: 12px;
    text-align: right;
    white-space: nowrap;
  }
}

:host(label) {
  .med-chart-bar-horizontal__container {
    width: calc(100% - 62px);
  }
}

//////////////////////////////
// dsColor
//////////////////////////////

:host(.med-color) {
  --progress-background: #{curr-color('color', '4')};
  --label-color: #{curr-color('color', '4')};
}

:host(.med-color-neutral) {
  --progress-background: #{curr-color('neutral')};
  --label-color: #{curr-color('neutral')};
}

:host(.med-color-feedback) {
  --progress-background: #{curr-color('feedback')};
  --label-color: #{curr-color('feedback')};
}

//////////////////////////////
// dsSize
//////////////////////////////

:host(.med-chart-bar-horizontal--md) {
  --border-radius: 6px;
  --height: 12px;

  .med-chart-bar-horizontal {
    &__label {
      --font-size: 12px;
      --font-weight: 600;
      --line-height: 12px;
      min-width: 48px;
    }
  }
}

//////////////////////////////
// state
//////////////////////////////

:host(.med-chart-bar-horizontal--spill) .med-chart-bar-horizontal {
  &__progress {
    background-image: linear-gradient(-45deg,
        color('brand', '4') 50%,
        color('neutral', '2', null, 0.2) 50%,
        color('neutral', '2', null, 0.2) 75%,
        color('brand', '4') 75%,
        color('brand', '4') 100%,
        color('neutral', '2', null, 0.2) 100%,
        color('neutral', '2', null, 0.2) 100%);
    background-size: 24.04px 24.04px;
  }
}

////////////////////
// state dsColor
////////////////////

:host(.med-color.med-chart-bar-horizontal--spill) .med-chart-bar-horizontal {
  &__progress {
    --label-color: #{curr-color('color', '4')};
    background-image: linear-gradient(-45deg,
        curr-color('color', '4') 50%,
        color('neutral', '2', null, 0.2) 50%,
        color('neutral', '2', null, 0.2) 75%,
        curr-color('color', '4') 75%,
        curr-color('color', '4') 100%,
        color('neutral', '2', null, 0.2) 100%,
        color('neutral', '2', null, 0.2) 100%);
  }
}

:host(.med-color-neutral.med-chart-bar-horizontal--spill) .med-chart-bar-horizontal {
  &__progress {
    --label-color: #{curr-color('neutral')};
    background-image: linear-gradient(-45deg,
        curr-color('neutral') 50%,
        color('neutral', '2', null, 0.2) 50%,
        color('neutral', '2', null, 0.2) 75%,
        curr-color('neutral') 75%,
        curr-color('neutral') 100%,
        color('neutral', '2', null, 0.2) 100%,
        color('neutral', '2', null, 0.2) 100%);
  }
}

:host(.med-color-feedback.med-chart-bar-horizontal--spill) .med-chart-bar-horizontal {
  &__progress {
    --label-color: #{curr-color('feedback')};
    background-image: linear-gradient(-45deg,
        curr-color('feedback') 50%,
        color('neutral', '2', null, 0.2) 50%,
        color('neutral', '2', null, 0.2) 75%,
        curr-color('feedback') 75%,
        curr-color('feedback') 100%,
        color('neutral', '2', null, 0.2) 100%,
        color('neutral', '2', null, 0.2) 100%);
  }
}

//////////////////////////////
// animation
//////////////////////////////

@keyframes start {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(calc(var(--progress) * 1%));
  }
}
