[tp-button] {
  --background: hsl(var(--med-color-brand-3));
  --background-focused: hsl(var(--med-color-brand-2));
  --background-hover: hsl(var(--med-color-brand-2));
  --color: hsl(var(--med-color-neutral-10));
  --color-focused: hsl(var(--med-color-neutral-10));
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 32px;
  --padding-end: 32px;
  --font-size: 16px;
  --line-height: 16px;
  --height: 48px;
  --width: initial;
  --display: inline-block;
  --height-icon: 24px;
  --width-icon: 24px;
  --border: 1px solid transparent;
  --border-radius: 100px;
  --transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  --icon-transition: stroke 0.3s;
}

// default
[tp-button] {
  cursor: pointer;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  padding-left: var(--padding-start);
  padding-right: var(--padding-end);
  font-size: var(--font-size);
  font-weight: 600;
  color: var(--color);
  background-color: var(--background);
  line-height: var(--line-height);
  height: var(--height);
  width: var(--width);
  display: inline-block;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  position: relative;

  &::after {
    content: "";
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: var(--border-radius);
    background: transparent;
    position: absolute;
    top: -1px;
    left: -1px;
    overflow: hidden;
  }
}

// states
[tp-button]:hover {
  --background: var(--background-hover);
}

[tp-button]:focus {
  --background: var(--background-focused);
  --color: var(--color-focused);
}

[tp-button]:disabled {
  --background: hsl(var(--med-color-neutral-3));
  --color: hsl(var(--med-color-neutral-5));

  pointer-events: none;
}

//
// size
//
[tp-button] {
  &[ds-size="sm"] {
    --padding-top: 12px;
    --padding-bottom: 12px;

    height: 40px;

    ion-icon {
      font-size: 24px;
    }
  }

  &[ds-size="xs"] {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 24px;
    --padding-end: 24px;

    height: 32px;
    font-size: 14px;

    ion-icon {
      font-size: 16px;
    }
  }

  &[ds-size="xxs"] {
    --padding-top: 6px;
    --padding-bottom: 6px;
    --padding-start: 16px;
    --padding-end: 16px;

    height: 24px;
    font-size: 12px;
    line-height: 12px;

    ion-icon {
      font-size: 16px;
    }
  }
}

// block
[tp-button][expand="block"] {
  --width: 100%;
  --display: block;
}

//
// color
//
@each $color in $tp-color {
  @for $i from 1 through 5 {
    @include generate-component-color([tp-button], $color, $i) {
      --background: #{tp-color($color, $i)};
      --background-focused: #{tp-color($color, 2)};
      --background-hover: #{tp-color($color, 2)};
      --color: #{tp-contrast-color($i)};
      --color-focused: #{tp-contrast-color(2)};
      --color-hover: #{tp-contrast-color(2)};

      &[disabled] {
        --background: hsl(var(--med-color-neutral-3));
        --color: hsl(var(--med-color-neutral-5));

        ion-icon {
          stroke: var(--color);
        }
      }

      &:hover {
        ion-icon {
          stroke: var(--color-hover);
        }
      }

      &:focus {
        --background: var(--background-focused);
        --color: var(--color-focused);
      }
    }
  }
}

//
// neutral
//
@for $i from 1 through 10 {
  @include generate-component-neutral([tp-button], neutral-#{$i}, $i) {
    --background: #{tp-neutral($i)};
    --background-activated: #{tp-contrast-neutral($i, 0.08)};
    --background-focused: #{tp-contrast-neutral($i, 0.08)};
    --background-hover: #{tp-contrast-neutral($i, 0.08)};
    --color: #{tp-contrast-neutral($i)};
    --color-activated: #{tp-contrast-neutral($i)};
    --color-focused: #{tp-contrast-neutral($i)};
    --color-hover: #{tp-contrast-neutral($i)};

    ion-icon {
      stroke: var(--color);
    }

    &[disabled] {
      --background: hsl(var(--med-color-neutral-3));
      --color: hsl(var(--med-color-neutral-5));

      ion-icon {
        stroke: var(--color);
      }
    }

    &:hover {
      ion-icon {
        stroke: var(--color-hover);
      }
    }

    &:focus::after {
      background: var(--background-focused);
    }
  }
}

@for $i from 1 through 9 {
  @include generate-component-neutral([tp-button], neutral-#{$i}#{5}, $i) {
    --background: #{tp-neutral($i, 5)};
    --background-activated: #{tp-contrast-neutral($i, 0.08)};
    --background-focused: #{tp-contrast-neutral($i, 0.08)};
    --background-hover: #{tp-contrast-neutral($i, 0.08)};
    --color: #{tp-contrast-neutral($i)};
    --color-activated: #{tp-contrast-neutral($i)};
    --color-focused: #{tp-contrast-neutral($i)};
    --color-hover: #{tp-contrast-neutral($i)};

    ion-icon {
      stroke: var(--color);
    }

    &[disabled] {
      --background: hsl(var(--med-color-neutral-3));
      --color: hsl(var(--med-color-neutral-5));

      ion-icon {
        stroke: var(--color);
      }
    }

    &:hover {
      ion-icon {
        stroke: var(--color-hover);
      }
    }

    &:focus::after {
      background: var(--background-focused);
    }
  }
}

//
// feedback
//
@each $color in $tp-feedback {
  @include generate-component-feedback([tp-button], fb-#{$color}, $color) {
    --background: #{tp-feedback($color)};
    --background-activated: hsla(var(--med-color-neutral-1), 0.08);
    --background-focused: hsla(var(--med-color-neutral-1), 0.08);
    --background-hover: hsla(var(--med-color-neutral-1), 0.08);
    --color: hsl(var(--med-color-neutral-1));
    --color-activated: hsl(var(--med-color-neutral-1));
    --color-focused: hsl(var(--med-color-neutral-1));
    --color-hover: hsl(var(--med-color-neutral-1));

    ion-icon {
      stroke: hsl(var(--med-color-neutral-1));
    }

    &[disabled] {
      --background: hsl(var(--med-color-neutral-3));
      --color: hsl(var(--med-color-neutral-5));

      ion-icon {
        stroke: hsl(var(--med-color-neutral-5));
      }
    }

    &:focus::after {
      background: var(--background-focused);
    }
  }
}
