
@import "../../../../../../templarios/abstracts";

:host {
  --spacing: var(--med-spacing-inline-base);
  --padding: var(--med-spacing-inset-xs);
  --background: var(--med-color-neutral-light-20);
  --border-radius: var(--med-border-radius-sm);
  --height: 32px;

  --label-font-size: var(--med-font-size-xs);
  --label-font-weight: var(--med-font-weight-medium);
  --label-line-height: var(--med-line-height-compressed);
  --label-color: var(--med-color-neutral-light-prime);
  --label-spacing: var(--med-spacing-inline-nano);

  height: var(--height);

  .option {
    padding: var(--padding);
    background: var(--background);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

[name="label"]::slotted(*) {
  text-align: center;
  width: 16px;
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  line-height: var(--label-line-height);
  color: var(--label-color);
  padding-left: var(--label-spacing);
}
