:host {
  --padding: 16px;
  --background: #{color('neutral', '2')};
  --border-radius: 8px;
  --border-background: #{color('neutral', '5')};
  --border-background-selected: #{color('brand', '3')};
  --font-size-title: 20px;
  --color-title: #{color('neutral', '10')};
  --font-size-label: 16px;
  --color-label: #{color('brand', '3')};
}

:host(.med-tiles) {
  display: flex;
  background: var(--background);
  border-radius: var(--border-radius);

  .med-tiles__content {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .med-tiles__border {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      width: 8px;
      min-height: 100%;
      background: var(--border-background);
  }

  .med-tiles__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-title);
    font-weight: 600;
    line-height: 100%;
    color: var(--color-title);
    padding-bottom: 4px;
  }

  .med-tiles__label {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-label);
    font-weight: 400;
    line-height: 100%;
    color: var(--color-label);
    padding-bottom: 16px;
  }
}

::slotted(*) {
  margin-left: auto;
}

:host(.med-tiles--selected) .med-tiles__border {
  background: var(--border-background-selected);
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --color-label: #{curr-color('color', '3')};
  --border-background-selected: #{curr-color('color', '3')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --color-label: #{curr-color('neutral')};
  --border-background-selected: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --color-label: #{curr-color('feedback')};
  --border-background-selected: #{curr-color('feedback')};
}


// ////////////////////
// solid
// ////////////////////

:host(.med-tiles.med-solid) {
  --background: #{color('brand', '3')};
  --border-background-selected:  #{color('brand', '3', 'contrast')};
  --color-label:  #{color('brand', '3', 'contrast')};

  .med-tiles__badge {
    --background: #{color('brand', '3')};
  }
}

:host(.med-tiles.med-solid.ion-color) {
  --background: #{curr-color('color', '3')};
  --border-background-selected: #{curr-color('color', '3', 'contrast')};
  --color-label: #{curr-color('color', '3', 'contrast')};
}

:host(.med-tiles.med-solid.ion-color) .med-tiles__badge {
  --background: #{curr-color('color', '1')} !important;
}

:host(.med-tiles.med-solid.med-neutral) {
  --background: var(--med-neutral);
  --border-background-selected: var(--med-neutral-contrast);
  --color-label: var(--med-neutral-contrast);

  .med-tiles__badge {
    --background: var(--med-neutral-contrast);
  }
}
