:host {
  --background: #{color('brand', '3')};
  --color: #{color('brand', '3', 'contrast')};
  --padding-bottom: 0;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 0;

  --border-color: #{color('brand', '3')};
}

:host(.med-badge) {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 31.25em;
  border-color: var(--border-color);
  border-width: 1px;
  font-family: inherit;
  min-width: auto;
  border-style: solid;
  height: 24px;
  display: inline-flex;
  align-items: center;
}

// ////////////////////
// sizes
// ////////////////////

:host(.med-badge--xxs) {
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 10px;
  font-weight: var(--font-weight-light);
  height: 16px;
}

:host(.med-badge--xs) {
  --padding-start: 8px;
  --padding-end: 8px;
  font-size: 10px;
  font-weight: 500;
  height: 16px;
}

:host(.med-badge--sm) {
  --padding-start: 16px;
  --padding-end: 16px;
  font-size: 10px;
  font-weight: 500;
  height: 24px;
}

:host(.med-badge--md) {
  --padding-start: 16px;
  --padding-end: 16px;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
}

:host(.med-badge--lg){
  --padding-start: 24px;
  --padding-end: 24px;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --border-color: #{curr-color('color', '3')};
  background: curr-color('color', '3');
  color: curr-color('color', '3', 'contrast');
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --border-color: #{curr-color('neutral')};
  background: curr-color('neutral');
  color: curr-color('neutral', null, 'contrast');
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --border-color: #{curr-color('feedback')};
  background: curr-color('feedback');
  color: curr-color('feedback', null, 'contrast');
}

// //////////////////////////////
// secondary
// //////////////////////////////

:host(.med-badge--secondary) {
  border-style: solid;
  background: transparent;
  color: #{color('brand', '3')};
}

// ////////////////////
// color
// ////////////////////

:host(.med-color.med-badge--secondary) {
  --border-color: #{curr-color('color', '3')};
  background: transparent;
  color: curr-color('color', '3');
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral.med-badge--secondary) {
  --border-color: #{curr-color('neutral')};
  background: transparent;
  color: curr-color('neutral');
}

// //////////
// feedback
// //////////

:host(.med-color-feedback.med-badge--secondary) {
  --border-color: #{curr-color('feedback')};
  background: transparent;
  color: curr-color('feedback');
}
