@import "../functions";
@import "../variables";
@import "../mixins";

//
// LEGADO: medsoft
//

@include generate-medsoft-color-classes();

//
// NOVO: medsoft
//

:root {
  /* color css custom properties */
  @include new-generate-color();

  /* neutral css custom properties */
  @include new-generate-neutral-color();
}

/* color classes */

@each $color-name, $value in $new-medsoft-colors {
  .ion-color-#{$color-name} {
    @include new-generate-color-classes($color-name);
  }
}

/* neutral classes */

@include new-generate-neutral-classes();

/* components theme */

:root ion-content {
  --background: var(--med-color-neutral-1);
}

html,
html.md {
  --ion-default-font: "fsemeric";
  --ion-font: "fsemeric";
}

// @import "../../src/components/button/medgrupo/button.med.theme";
// @import "../../src/components/icon/medgrupo/icon.med.theme";
