[tp-container-input] {
  --background: hsl(var(--med-color-neutral-2));
  --color: hsl(var(--med-color-neutral-10));
  --placeholder-color: hsl(var(--med-color-neutral-5));
  --stroke: hsl(var(--med-color-neutral-6));

  font-size: 14px;
  line-height: 16px;
  border-radius: 8px;
  height: 40px;
  background: var(--background);
  color: var(--color);
  margin-top: 8px;
  display: flex;
  align-items: center;

  [tp-input] {
    --margin-left: 16px;

    padding: 0;
    height: auto;
    border-radius: 0;
    margin-left: var(--margin-left);
  }

  .med-icon {
    height: 24px;
    width: 24px;
    stroke: var(--stroke);
    margin: 0 8px 0 8px;

    & ~ [tp-input] {
      --margin-left: 0;
    }
  }
}

[tp-label] ~ [tp-container-input] {
  margin-top: 8px;
}

//
// name
//
[tp-container-input][ds-name="secondary"] {
  --background: hsl(var(--med-color-neutral-3));
}

//
// disabled
//
[tp-container-input][disabled] {
  opacity: 0.4;
}

//
// color
//
@each $color in $tp-color {
  @for $i from 1 through 5 {
    @include generate-component-color([tp-container-input], $color, $i) {
      --background: #{tp-color($color, $i)};
      --color: #{tp-contrast-color($i)};
      --placeholder-color: #{tp-contrast-color($i)};
      --stroke: #{tp-contrast-color($i)};
    }
  }
}

//
// neutral
//
@for $i from 1 through 10 {
  @include generate-component-neutral([tp-container-input], neutral-#{$i}, $i) {
    --background: #{tp-neutral($i)};
    --color: #{tp-contrast-neutral($i)};
    --placeholder-color: #{tp-contrast-neutral($i)};
    --stroke: #{tp-contrast-neutral($i)};
  }
}

@for $i from 1 through 9 {
  @include generate-component-neutral(
    [tp-container-input],
    neutral-#{$i}#{5},
    $i
  ) {
    --background: #{tp-neutral($i, 5)};
    --color: #{tp-contrast-neutral($i)};
    --placeholder-color: #{tp-contrast-neutral($i)};
    --stroke: #{tp-contrast-neutral($i)};
  }
}

//
// feedback
//
@each $color in $tp-feedback {
  @include generate-component-feedback(
    [tp-container-input],
    fb-#{$color},
    $color
  ) {
    --background: #{tp-feedback($color)};
    --color: hsl(var(--med-color-neutral-1));
    --placeholder-color: hsl(var(--med-color-neutral-1));
    --stroke: hsl(var(--med-color-neutral-1));
  }
}
