:host {
  display: block;
}

.med-check-card {
  &__title {
    margin-right: 16px;

    &-wrap {
      display: flex;

      @include breakpoint-down('sm') {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__base{
    --padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
  }

  &__container {
    padding: 16px 0 16px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1;

    @include breakpoint-down('sm') {
      padding: 12px 0;
    }
  }

  &__input-container {
    padding: 16px 0 16px 16px;

    @include breakpoint-down('sm') {
      padding: 12px 0 12px 16px;
    }
  }

  &__text-container {
    padding: 0 18px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint-down('sm') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint-down('sm') {
      margin-top: 4px;
    }
  }

  &__icon {
    stroke: color('neutral', '8');
  }

  &__container-fix {
    display: flex;
  }

  &__subtitulo {
    --color: #{color('neutral', '8')};
    margin: 0 8px;
    stroke: color('neutral', '8');
  }

  &__hora {
    --color: #{color('neutral', '8')};
  }

  &__data {
    --color: #{color('neutral', '8')};

    @include breakpoint-down('sm') {
      margin-top: 8px;
    }
  }

  &__tooltip-container {
    padding: 16px 16px 16px 0;

    @include breakpoint-down('sm') {
      padding: 12px 16px 12px 0;
    }
  }
}

//////////////////////////////
// state
//////////////////////////////

:host(.med-check-card--alert) {
  .med-check-card {
    &__base {
      border: 1px solid color('feedback', 'warning');
    }
  }
}
