@import "./input";
@import "./input.md.vars";


// Material Design Input
// --------------------------------------------------

:host {
  --padding-top: #{$input-md-padding-top};
  --padding-end: #{$input-md-padding-end};
  --padding-bottom: #{$input-md-padding-bottom};
  --padding-start: #{$input-md-padding-start};

  font-size: $input-md-font-size;
}

:host-context(.item-label-stacked),
:host-context(.item-label-floating) {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 0;
}

.input-clear-icon {
  @include svg-background-image($input-md-input-clear-icon-svg);

  width: $input-md-input-clear-icon-width;
  height: $input-md-input-clear-icon-width;

  background-size: $input-md-input-clear-icon-size;
}










:host {
  --background: #{color('neutral', '2')};
  --color: #{color('neutral', '10')};
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 16px;
  --padding-bottom: 8px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 8px;
  --placeholder-color: #{color('neutral', '5')};
  --placeholder-font-size: 14px;
  --placeholder-font-weight: 400;
  --placeholder-line-height: 16px;
  --placeholder-opacity: 1;
  --height: 40px;
  --border-radius: 8px;
  --border-color: transparent;
  --icon-stroke: #{color('neutral', '6')};
  --cursor: default;
}

:host {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  height: var(--height);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  &::placeholder {
    font-size: var(--placeholder-font-size);
    font-weight: var(--placeholder-font-weight);
    line-height: var(--placeholder-line-height);
  }

  .med-icon {
    stroke: var(--icon-stroke);
    padding-right: 8px;
  }

  .med-input-reset {
    cursor: pointer;
  }

  .native-input[disabled] {
    opacity: 0.5;
  }
}

//////////////////////////////
// dsName
//////////////////////////////

:host(.med-input--secondary) {
  --background: #{color('neutral', '3')};
  --placeholder-color: #{color('neutral', '6')};
}

//////////////////////////////
// state
//////////////////////////////

:host(.med-input--valid) {
  --placeholder-color: #{color('feedback', 'success')};
  --color: #{color('feedback', 'success')};
  --icon-stroke: #{color('feedback', 'success')};
}

:host(.med-input--invalid) {
  --placeholder-color: #{color('feedback', 'warning')};
  --color: #{color('feedback', 'warning')};
  --icon-stroke: #{color('feedback', 'warning')};
}

////////////////////
// focus
////////////////////

:host(.has-focus) {
  --border-color: #{color('neutral', '3')};
}

:host(.has-focus.med-input--secondary) {
  --border-color: #{color('neutral', '4')};
}

:host(.has-focus.med-input--valid) {
  --border-color: #{color('feedback', 'success')};
}

:host(.has-focus.med-input--invalid) {
  --border-color: #{color('feedback', 'warning')};
}

.med-icon {
  cursor: var(--cursor);
}
