

:host {
  /**
   * @prop --color: Define a cor do componente.
   */
  --color: #{color('neutral', '5')};
}

:host(.med-divider) {
  display: block;
  text-align: left;

  .med-divider__heading {
    padding: 0;
    margin: 0;
    padding-top: 16px;
    line-height: 100%;
    font-weight: 600;
    color: var(--color);
  }
}


// ////////////////////
// color
// ////////////////////

:host(.med-color.med-divider) {
  --color: #{curr-color('color', '3')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral.med-divider) {
  --color: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback.med-divider) {
  --color: #{curr-color('feedback')};
}
