
@import "../../../templarios/abstracts";

:host {
  --background: #{color('neutral', '3')};
  --padding-top: 8px;
  --padding-end: 8px;
  --padding-bottom: 8px;
  --padding-start: 16px;
  --placeholder-color: #{color('neutral', '5')};
  --placeholder-opacity: 0.5;
  --placeholder-font-size: 14px;
  --placeholder-font-weight: 400;
  --placeholder-line-height: 16px;
  --color: #{color('neutral', '10')};
  --height: 40px;
  --border-radius: 8px;
}

:host(.med-select) {
  background: var(--background);
  border-radius: 8px;

  .select-text {
    color: var(--color);
  }

  .med-select-icon {
    stroke: #{color('neutral', '9')};
  }

  .select-placeholder {
    font-size: var(--placeholder-font-size);
    font-weight: var(--placeholder-font-weight);
    line-height: var(--placeholder-line-height);
  }
}
