@import "../../../../../templarios/abstracts";

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  cursor: pointer;

  &__type {
    --font-size: 12px;
    --font-weight: 600;
    --line-height: 11px;
    --color: hsl(var(--med-color-neutral-10));
  }

  &__container {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
  }
}

:host(.med-calendar-day--active) {
  --background: #{color('brand', '3')};
}

// ////////////////////
// color
// ////////////////////

:host(.med-color.med-calendar-day--active) {
  --background: #{color('brand', '3')};
  --color: #{color('brand', '3', 'contrast')};
}

:host(.med-color-neutral.med-calendar-day--active) {
  --background: #{color('neutral')};
  --color: #{color('neutral', null, 'contrast')};
}

:host(.med-color-feedback.med-calendar-day--active) {
  --background: #{color('feedback')};
  --color: #{color('feedback', null, 'contrast')};
}
