@import "../../../../../templarios/abstracts";

:host {
  --border-color: #{color("brand", "3")};
  --icon-stroke-color: #{color("brand", "3")};
}

:host(.med-video-list-item) {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--border-color);

  &:last-child{
    border-bottom: 0;
  }

  .med-video-list-item__avancar {
    margin-left: auto;
  }

  .med-video-list-item__text-container {
    display: flex;
    align-items: center;
  }

  .med-video-list-item__icon {
    stroke: var(--icon-stroke-color);
  }

  .med-video-list-item__title {
    margin: 0 8px;
  }


}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --border-color: #{curr-color('color', '3')};
  --icon-stroke-color: #{curr-color('color', '3')};
  color: curr-color('color', '3', 'contrast');
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --border-color: #{curr-color('neutral')};
  --icon-stroke-color: #{curr-color('neutral')};
  color: curr-color('neutral', null, 'contrast');
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --border-color: #{curr-color('feedback')};
  --icon-stroke-color: #{curr-color('feedback')};
  color: curr-color('feedback', null, 'contrast');
}


