:host {
  --padding: 16px 24px;
}

:host {
  display: block;
  padding: var(--padding);

  .med-vote__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    align-items: center;
  }

  .med-vote__icon-container {
    display: flex;
    align-items: center;
  }

  .med-vote__icon {
    min-width: 24px;

    &--cabe {
      stroke: color('feedback', 'success');
    }

    &--nao-cabe {
      stroke: color('feedback', 'warning');
    }
  }

  .med-vote__heading {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #{color('neutral', '10')};
    margin: 0;
  }

  .med-vote__badge {
    display: flex;
    height: 26px;
    border-radius: 16px;
    font-size: 16px;
    line-height: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 100%;
    padding: 0 8px;

    &--cabe {
      background-color: color('feedback', 'success');
      color: color('feedback', 'success', 'contrast');
      margin-left: 8px;
    }

    &--nao-cabe {
      background-color: color('feedback', 'warning');
      color: color('feedback', 'warning', 'contrast');
      margin-right: 8px;
    }
  }

  .med-vote__chart {
    height: 2px;

    &--cabe {
      background-color: color('feedback', 'success');
      margin-right: 4px;
    }

    &--nao-cabe {
      background-color: color('feedback', 'warning');
      margin-left: 4px;
    }
  }
}
