.erratas {
  background: hsl(var(--med-color-neutral-1));
  height: calc(100% - 104px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    height: 48px;
    width: 48px;
    margin-bottom: 24px;
    stroke: hsl(var(--med-color-neutral-10));
    fill: transparent;
  }

  &__text {
    text-transform: uppercase;
  }
}
