@import "../../../../../../templarios/abstracts";

:host {
  --color: #{color('neutral', '10')};
  --pointer-events: initial;
}

:host(.monta-provas-plusminus) {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  color: var(--color);
  max-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .monta-provas-plusminus__icon-minus {
    margin-right: 16px;
    cursor: pointer;
    stroke: var(--color);
  }

  .monta-provas-plusminus__icon-plus {
    margin-left: 16px;
    cursor: pointer;
    stroke: var(--color);
  }
}

// ////////////////////
// disabled
// ////////////////////

:host(.monta-provas-plusminus--disabled-minus) .monta-provas-plusminus__icon-minus,
:host(.monta-provas-plusminus--disabled-plus) .monta-provas-plusminus__icon-plus {
  opacity: 0.5;
  pointer-events: var(--pointer-events);
}

:host(.monta-provas-plusminus--disabled-both) .monta-provas-plusminus__icon-minus,
:host(.monta-provas-plusminus--disabled-both) .monta-provas-plusminus__icon-plus  {
  opacity: 0.5;
  pointer-events: var(--pointer-events);
}

// ////////////////////
// sizes
// ////////////////////

:host(.monta-provas-plusminus--xl) {
  font-size: 64px;
  .med-icon {
    font-size: 50px;
  }
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --color: #{curr-color('color', '3')};
  stroke: #{curr-color('color', '3')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --color: #{curr-color('neutral')};
  stroke: #{curr-color('neutral')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --color: #{curr-color('feedback')};
  stroke: #{curr-color('feedback')};
}
