.ajuda {
  height: 100%;

  &__slides {
    height: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    min-width: 100px;
    min-height: 100px;
    stroke: hsl(var(--med-color-neutral-10));
    fill: transparent;
    margin-bottom: 24px;
  }

  &__subtitle {
    margin-bottom: 16px;
  }
}
