.resumo {
  background: hsl(var(--med-color-neutral-15));
  height: 100%;

  &__button {
    margin: 0 auto;
  }

  &__middle {
    height: calc(100% - 168px);
    overflow: auto;
  }

  &__classificacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  &__linha {
    display: flex;
    align-items: center;
  }

  &__opcoes {
    height: 16px !important;
    margin: 0;
  }

  &__range-container {
    padding: 4px 16px;
    margin: 16px 0 48px 0;
    position: relative;
    display: flex;
    align-items: center;

    .med-icon {
      stroke: hsl(var(--med-color-neutral-10));
    }
  }

  &__progress {
    flex: 1;
    position: relative;
  }

  &__icon {
    min-width: 24px;
    min-height: 24px;
    stroke: hsl(var(--med-color-neutral-10));
    fill: transparent;

    &--start {
      margin-right: 16px;
    }

    &--end {
      margin-left: 16px;
    }
  }

  &__posicao-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -12px;
    left: calc(var(--porcentagem) * 1%);
    transform: translateX(-50%);
    min-width: 80px;
  }

  &__posicao {
    margin-bottom: 14px;
  }

  &__sua-nota {
    text-transform: uppercase;
  }

  &__participantes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__questoes {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modo-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  &__modo {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

// Responsividade //

@include breakpoint-down('sm') {
  .resumo {
    &__middle {
      height: calc(100% - 208px);
    }

    &__classificacao {
      flex-direction: column;
    }

    &__modo-container {
      flex-direction: column;
    }

    &__modo {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
