@import "../../../templarios/abstracts";

:host {
  // ionic css custom properties
  --background: #{medsoft-color(neutral-dark, 40)};
  --background-activated-opacity: 0.32;
  --background-hover-opacity: 0.16;

  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
  --border-radius: 31.25em;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  --ripple-color: transparent;

  height: 40px;
  min-width: 40px;
  width: auto;
  max-width: 100%;

  .button-native {
    contain: none;
  }

  .button-inner {
    position: relative;
  }
}

:host(.fab-button-disabled) {
  --background: #{medsoft-color(neutral-light, 20)};
  opacity: 0.8;

  ::slotted(ion-icon) {
    fill: #{medsoft-color(neutral-light, prime)};
  }
}

::slotted(ion-label) {
  color: medsoft-color(neutral-light, prime);
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
}

:host(.fab-button-close-active) {
  ::slotted(ion-label) {
    display: none;
  }
}

// sizes
:host([ds-size="md"]) {
  height: 48px !important;
  min-width: 48px !important;

  ::slotted(ion-label) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

:host([ds-size="lg"]) {
  height: 56px !important;
  min-width: 56px !important;

  ::slotted(ion-label) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

:host(.fab-button-close-active) ::slotted([slot="label"]) {
  transform: scale(.4) rotateZ(-45deg);
}
