:host {
  --color-checked: #{color('neutral', '10')};
  --color: #{color('neutral', '5')};
  --indicator-color: #{color('brand', '3')};
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  max-width: 100%;
}

// ////////////////////
// dsColor
// ////////////////////

:host(.med-color) {
  --indicator-color: #{curr-color('color', '3')};
}

:host(.med-color-neutral) {
  --indicator-color: #{curr-color('neutral')};
}

:host(.med-color-feedback) {
  --indicator-color: #{curr-color('feedback')};
}

// ////////////////////
// state
// ////////////////////

:host(.segment-button-disabled) {
  opacity: 0.5;
}
