:host {
  --color: #{color('neutral', '4')};
  --color-hover: #{color('neutral', '5')};
  --color-focused: #{color('neutral', '5')};
  --color-selected: #{color('brand', '4')};
  --background-focused: transparent;

  transition: color 300ms ease-out, stroke 300ms ease-out;
  justify-content: flex-start;
  max-width: fit-content;
  margin: 0 var(--padding-gap);

  @include breakpoint-up('lg') {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: fit-content;
  }
}

::slotted(ion-icon) {
  stroke: color('neutral', '3');
  min-width: 24px;
  min-height: 24px;
  margin-bottom: 4px !important;
  transition: stroke 300ms ease-out;

  @include breakpoint-up('lg') {
    margin-bottom: 0;
    margin-right: 4px;
  }
}

::slotted(med-type) {
  --font-size: 10px;
  --line-height: 12px;
  --color: var(--color);
}

:host(.tab-selected) {
  ::slotted(ion-icon) {
    stroke: var(--color-selected);
  }
}

:host(.tab-disabled) {
  opacity: 1;
  color: color('neutral', '2') !important;

  ::slotted(ion-icon) {
    stroke: color('neutral', '2') !important;
  }
}

:host(.ion-focused) {
  ::slotted(ion-icon) {
    stroke: var(--color-focused);
  }
}

@media (any-hover: hover) {
  a:hover {
    color: var(--color-hover);

    ::slotted(ion-icon) {
      stroke: var(--color-hover);
    }
  }

  :host(.tab-selected) {
    a:hover {
      color: var(--color-selected);

      ::slotted(ion-icon) {
        stroke: var(--color-selected);
      }
    }
  }
}

// ////////////////////
// dsColor
// ////////////////////

:host(.med-color) {
  --color-selected: #{curr-color('color', '4')};
}

:host(.med-color-neutral) {
  --color-selected: #{curr-color('neutral')};
}

:host(.med-color-feedback) {
  --color-selected: #{curr-color('feedback')};
}