@import "./tab-button";
@import "./tab-button.md.vars";

// Material Design Tab Button
// --------------------------------------------------------------

:host {
  --padding-top: #{$tab-button-md-padding-top};
  --padding-end: #{$tab-button-md-padding-end};
  --padding-bottom: #{$tab-button-md-padding-bottom};
  --padding-start: #{$tab-button-md-padding-start};

  max-width: 168px;

  font-size: $tab-button-md-font-size;
  font-weight: $tab-button-md-font-weight;

  letter-spacing: $tab-button-md-letter-spacing;
}


// Material Design Tab Button: Label
// --------------------------------------------------------------

::slotted(ion-label) {
  @include margin($tab-button-md-text-margin-top, $tab-button-md-text-margin-end, $tab-button-md-text-margin-bottom, $tab-button-md-text-margin-start);

  text-transform: $tab-button-md-text-capitalization;
}


// Material Design Tab Button: Icon
// --------------------------------------------------------------

::slotted(ion-icon) {
  @include margin($tab-button-md-icon-margin-top, $tab-button-md-icon-margin-end, $tab-button-md-icon-margin-bottom, $tab-button-md-icon-margin-start);
  @include transform-origin(center, center);

  font-size: $tab-button-md-icon-size;
}

// Material Design Tab Button: Badge
// --------------------------------------------------------------

::slotted(ion-badge) {
  @include border-radius($tab-button-md-badge-border-radius);
  @include padding($tab-button-md-badge-padding-top, $tab-button-md-badge-padding-end, $tab-button-md-badge-padding-bottom, $tab-button-md-badge-padding-start);
  @include position(8px, null, null, calc(50% + 6px));

  min-width: $tab-button-md-badge-min-width;

  font-size: $tab-button-md-badge-font-size;

  font-weight: normal;
}

::slotted(ion-badge:empty) {
  display: block;

  min-width: $tab-button-md-badge-size-empty;

  height: $tab-button-md-badge-size-empty;
}


// Material Design Tab Button: Icon Top Layout
// --------------------------------------------------------------

// Icon
:host(.tab-layout-icon-top) ::slotted(ion-icon) {
  @include margin(6px, null, 2px, null);
}

// Label
:host(.tab-layout-icon-top) ::slotted(ion-label) {
  @include margin(0, null, 6px, null);
}


// Material Design Tab Button: Icon Bottom Layout
// --------------------------------------------------------------

// Badge
:host(.tab-layout-icon-bottom) ::slotted(ion-badge) {
  @include position(8px, null, null, 70%);
}

// Icon
:host(.tab-layout-icon-bottom) ::slotted(ion-icon) {
  @include margin(0, null, 6px, null);
}

// Label
:host(.tab-layout-icon-bottom) ::slotted(ion-label) {
  @include margin(6px, null, 0, null);
}


// Material Design Tab Button: Icon Start / Icon End Layout
// --------------------------------------------------------------

// Badge
:host(.tab-layout-icon-start) ::slotted(ion-badge),
:host(.tab-layout-icon-end) ::slotted(ion-badge) {
  @include position(16px, null, null, 80%);
}

// Icon
:host(.tab-layout-icon-start) ::slotted(ion-icon) {
  @include margin(null, 6px, null, null);
}

// Icon
:host(.tab-layout-icon-end) ::slotted(ion-icon) {
  @include margin(null, null, null, 6px);
}


// Material Design Tab Button: Icon Hide / Label Only Layout
// --------------------------------------------------------------

// Badge
:host(.tab-layout-icon-hide) ::slotted(ion-badge),
:host(.tab-has-label-only) ::slotted(ion-badge) {
  @include position(16px, null, null, 70%);
}

// Label
:host(.tab-layout-icon-hide) ::slotted(ion-label),
:host(.tab-has-label-only) ::slotted(ion-label) {
  @include margin(0, null, 0, null);
}


// Material Design Tab Button: Icon Only / Label Hide Layout
// --------------------------------------------------------------

// Badge
:host(.tab-layout-label-hide) ::slotted(ion-badge),
:host(.tab-has-icon-only) ::slotted(ion-badge) {
  @include position(16px, null, null, null);
}

// Icon
:host(.tab-layout-label-hide) ::slotted(ion-icon),
:host(.tab-has-icon-only) ::slotted(ion-icon) {
  @include margin(0, null, 0, null);

  font-size: 24px;
}


:host {
  --color: #{color('neutral', '3')};
  --color-hover: #{color('neutral', '5')};
  --color-focused: #{color('neutral', '5')};
  --color-selected: #{color('brand', '4')};
  --background-focused: transparent;

  transition: color 300ms ease-out, stroke 300ms ease-out;
  justify-content: flex-start;
  max-width: 56px;
  margin: 0 var(--padding-gap);

  @include breakpoint-up('lg') {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: fit-content;
  }
}

::slotted(ion-icon) {
  stroke: color('neutral', '3');
  min-width: 24px;
  min-height: 24px;
  margin-bottom: 4px !important;
  transition: stroke 300ms ease-out;

  @include breakpoint-up('lg') {
    margin-bottom: 0;
    margin-right: 4px;
  }
}

::slotted(med-type) {
  --font-size: 10px;
  --line-height: 12px;
  --color: var(--color);
}

:host(.tab-selected) {
  ::slotted(ion-icon) {
    stroke: var(--color-selected);
  }
}

:host(.tab-disabled) {
  opacity: 1;
  color: color('neutral', '2') !important;

  ::slotted(ion-icon) {
    stroke: color('neutral', '2') !important;
  }
}

:host(.ion-focused) {
  ::slotted(ion-icon) {
    stroke: var(--color-focused);
  }
}

@media (any-hover: hover) {
  a:hover {
    color: var(--color-hover);

    ::slotted(ion-icon) {
      stroke: var(--color-hover);
    }
  }
  
  :host(.tab-selected) {
    a:hover {
      color: var(--color-selected);

      ::slotted(ion-icon) {
        stroke: var(--color-selected);
      }
    }
  }
}

/* :host {
  --color: #{color('neutral', '3')};
  --color-hover: #{color('neutral', '5')};
  --color-focused: #{color('neutral', '5')};
  --color-selected:#{color('brand', '4')};
  --color-activated: #{color('neutral', '5')};
  --background-focused: transparent;
  --background-focused-opacity: 1;
  --ripple-color: transparent;
  --padding-bottom:	8px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 8px;
  --color-icon: #{color('neutral', '3')};
  --color-icon-hover: #{color('neutral', '5')};
  --color-icon-focused: #{color('neutral', '5')};
  --color-icon-selected:#{color('brand', '4')};
  --color-icon-activated: #{color('neutral', '5')};

  min-width: 0;
  max-width: 100%;
  justify-content: start;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  transition: color 300ms;

  @include breakpoint-up('sm') {
    --padding-bottom:	16px;
    --padding-end: 8px;
    --padding-start: 8px;
    --padding-top: 16px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
}

// icon
:host ::slotted(ion-icon) {
  min-height: 20px;
  min-width: 20px;
  max-width: initial;
  display: block;
  contain: unset;
  overflow: unset;
  stroke: var(--color-icon);
}

:host(.tab-layout-icon-top) ::slotted(ion-icon) {
  margin-top: 0;
  margin-bottom: 4px;

  @include breakpoint-up('sm') {
    margin-bottom: 0;
    margin-right: 6px;
  }
}

// label
:host ::slotted(ion-label) {
  text-overflow: initial;
  white-space: initial;
  overflow: initial;
}

:host(.tab-layout-icon-top) ::slotted(ion-label) {
  margin-top: 0;
  margin-bottom: 0;
}

// states
@media (any-hover: hover) {
  a:hover {
    color: var(--color-hover);

    ::slotted(ion-icon) {
      stroke: var(--color-icon-hover);
    }
  }
}

:host(.ion-focused) .button-native {
  color: var(--color-focused);

  &::after {
    background: var(--background-focused);
    opacity: var(--background-focused-opacity);
  }
}

:host(.ion-focused) {
  ::slotted(ion-icon) {
    stroke: var(--color-icon-focused);
  }
}

:host(.ion-activated) .button-native {
  color: var(--color-activated);
}

:host(.ion-activated) {
  ::slotted(ion-icon) {
    stroke: var(--color-icon-activated);
  }
}

:host(.tab-selected) {
  color: var(--color-selected);

  ::slotted(ion-icon) {
    stroke: var(--color-icon-selected);
  }

  @media (any-hover: hover) {
    a:hover {
      ::slotted(ion-icon) {
        stroke: var(--color-icon-hover);
      }
    }
  }
}

:host(.tab-disabled) {
  color: var(--color);
  opacity: 0.8;

  ::slotted(ion-icon) {
    stroke: (--color-icon);
    opacity: 0.8;
  }
}

 */