.ranking {
  --background: hsl(var(--med-color-neutral-1)) !important;

  &__content {
    padding: 32px 40px 64px;
    max-width: 1096px;
    width: 100%;
    margin: 0 auto;

    @include breakpoint-down('sm') {
      padding: 24px 24px 40px;
    }
  }

  &__list {
    --ion-item-background: transparent;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--highlight {
      --background: hsl(var(--med-color-brand-2)) !important;
    }
  }

  &__avatar-label {
    --tp-label-font-size: 24px;
    --tp-label-line-height: 24px;
    --tp-label-font-weight: 600;
  }

  &__name {
    --tp-label-font-size: 16px;
    --tp-label-line-height: 16px;
  }

  &__position {
    --tp-label-font-size: 18px;
    --tp-label-line-height: 18px;
    --tp-label-font-weight: 600;
    text-align: end;
  }
}
