@import "../../../../../med-components/abstracts";

:host {
  /**
    * @prop --background-header: Define a cor de background do header do componente.
    * @prop --background-content: Define a cor de background do conteudo componente.
    * @prop --background-active: Define a cor de background do header quando a propriedade esta ativa.
    * @prop --icon-color: Define a cor de do icone do componente.
    * @prop --border-radius: Define o border-radius do componente.
  */
  --background-header: var(--med-color-neutral-2);
  --background-content: var(--med-color-neutral-2);
  --background-active: linear-gradient(to right, rgba(var(--med-color-aulas-3-rgb), 1), rgba(var(--med-color-aulas-3-rgb), 0.1), rgba(var(--med-color-aulas-3-rgb), 0));

  --icon-color: var(--med-color-neutral-10);
  --border-radius: #{$med-border-radius-sm};
}

:host(.med-accordion-item) {
  display: block;
  border-radius: var(--border-radius);

  .med-accordion-item__header {
    display: flex;
    cursor: pointer;
    width: 100%;
    padding: $med-spacing-inset-sm;
    box-sizing: border-box;
    line-height: line-height();
    align-items: center;
    background: var(--background-header);
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  .med-accordion-item__heading {
    width: 100%;
  }

  .med-accordion-item__icon-container {
    display: flex;

    &--left {
      padding-right: $med-spacing-inline-xxxs;
    }

    &--right {
      padding-left: $med-spacing-inline-xxxs;
      margin-left: auto;
    }
  }

  .med-accordion-item__icon {
    stroke: var(--icon-color);
    font-size: 32px;
    transform: rotate(0);
  }

  .med-accordion-item__content {
    display: none;
    overflow: auto;
    background: var(--background-content);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

:host(.med-accordion-item--open) .med-accordion-item__icon {
  transform: rotate(180deg);
}

// ////////////////////
// border
// ////////////////////

:host(.med-accordion-item--no-border) {
  --border-radius: 0;
}

// ////////////////////
// Slotted
// ////////////////////

::slotted(*) {
  z-index: 1;
  position: relative;
}

::slotted(ion-progress-bar) {
  position: absolute;
  left: 0;
  bottom: -4px;
}

// ////////////////////
// state
// ////////////////////

:host(.med-accordion-item--open) .med-accordion-item__header {
  overflow: initial;
}

:host(.med-accordion-item--background) .med-accordion-item__header {
  &:before {
    content: "";
    background-size: 200% 100%;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: var(--background-active);
    z-index: 0;
    border-top-left-radius: var(--border-radius);
  }
}

// ////////////////////
// color
// ////////////////////

:host(.ion-color.med-accordion-item--background) {
  --background-active: linear-gradient(to right, rgba(var(--med-color-3-rgb), 1), rgba(var(--med-color-3-rgb), 0.1), rgba(var(--med-color-3-rgb), 0)), var(--med-color-neutral-3) ;
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-neutral.med-accordion-item--background) {
  --background-active: linear-gradient(to right, rgba(var(--med-neutral-rgb), 1), rgba(var(--med-neutral-rgb), 0.1), rgba(var(--med-neutral-rgb), 0)), var(--med-color-neutral-3);
}
