@import "./datetime";
@import "./datetime.ios.vars";

// iOS Datetime
// --------------------------------------------------

:host {
  --placeholder-color: #{$datetime-ios-placeholder-color};
  --padding-top: #{$datetime-ios-padding-top};
  --padding-end: #{$datetime-ios-padding-end};
  --padding-bottom: #{$datetime-ios-padding-bottom};
  --padding-start: #{$datetime-ios-padding-start};
}

:host {
  --padding-top: 8px;
  --padding-end: 8px;
  --padding-bottom: 8px;
  --padding-start: 16px;

  --icon-color: #{color('neutral', '6')};
  --background:  #{color('neutral', '2')};
  --placeholder-color: #{color('neutral', '5')};
  --border-radius: 8px;
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 16px;
  --color: #{color('neutral', '5')};
  --border-color: transparent;
}

:host {
  background: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);

  .datetime-text {
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    font-weight: var(--font-weight);
    color: var(--color);
    line-height: var(--line-height);
  }

  .datetime-icon {
    stroke: var(--icon-color);
  }

  button {
    padding: 0;
  }
}

//////////////////////////////
// dsName
//////////////////////////////

:host(.med-datetime--secondary) {
  --background: #{color('neutral', '3')};
  --color: #{color('neutral', '6')};
}

//////////////////////////////
// state
//////////////////////////////

////////////////////
// focus
////////////////////

:host(.has-focus) {
  --border-color: #{color('neutral', '3')};
}

:host(.has-focus.med-datetime--secondary) {
  --border-color: #{color('neutral', '4')};
}

:host(.med-datetime--no-style) {
  --background: transparent;
  --font-size: 32px;
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --line-height: 32px;
}
