@import "./button";
@import "./button.md.vars";


// Material Design Button
// --------------------------------------------------

:host {
    --border-radius: #{$button-md-border-radius};
    --padding-top: #{$button-md-padding-top};
    --padding-bottom: #{$button-md-padding-bottom};
    --padding-start: #{$button-md-padding-start};
    --padding-end: #{$button-md-padding-end};
    --transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),
                    background-color 15ms linear,
                    color 15ms linear;

    @include margin($button-md-margin-top, $button-md-margin-end, $button-md-margin-bottom, $button-md-margin-start);

    height: #{$button-md-height};

    font-size: #{$button-md-font-size};
    font-weight: #{$button-md-font-weight};

    letter-spacing: #{$button-md-letter-spacing};

    text-transform: #{$button-md-text-transform};
    }

    // Material Design Solid Button
    // --------------------------------------------------

    :host(.med-button-solid) {
    --background-activated: transparent;
    --background-hover: #{ion-color(primary, contrast)};
    --background-focused: #{ion-color(primary, contrast)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .24;
    --background-hover-opacity: .08;
    --box-shadow: #{$button-md-box-shadow};
    }

    :host(.med-button-solid.ion-activated) {
    --box-shadow: #{$button-md-box-shadow-activated};
    }

    // Material Design Outline Button
    // --------------------------------------------------

    :host(.med-button-outline) {
    --border-width: 2px;
    --border-style: solid;
    --box-shadow: none;
    --background-activated: transparent;
    --background-focused: #{ion-color(primary, base)};
    --background-hover: #{ion-color(primary, base)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .12;
    --background-hover-opacity: .04;
    }

    :host(.med-button-outline.ion-activated.ion-color) .button-native {
    background: transparent;
    }


    // Material Design Clear Button
    // --------------------------------------------------

    :host(.med-button-clear) {
    --background-activated: transparent;
    --background-focused: #{ion-color(primary, base)};
    --background-hover: #{ion-color(primary, base)};
    --background-activated-opacity: 0;
    --background-focused-opacity: .12;
    --background-hover-opacity: .04;
    }


    // Material Design Round Button
    // --------------------------------------------------

    :host(.button-round) {
    --border-radius: #{$button-md-round-border-radius};
    --padding-top: #{$button-md-round-padding-top};
    --padding-start: #{$button-md-round-padding-start};
    --padding-end: #{$button-md-round-padding-end};
    --padding-bottom: #{$button-md-round-padding-bottom};
    }


    // Material Design Button Sizes
    // --------------------------------------------------

    :host(.button-large) {
    --padding-top: #{$button-md-large-padding-top};
    --padding-start: #{$button-md-large-padding-start};
    --padding-end: #{$button-md-large-padding-end};
    --padding-bottom: #{$button-md-large-padding-bottom};

    height: #{$button-md-large-height};

    font-size: #{$button-md-large-font-size};
    }

    :host(.button-small) {
    --padding-top: #{$button-md-small-padding-top};
    --padding-start: #{$button-md-small-padding-start};
    --padding-end: #{$button-md-small-padding-end};
    --padding-bottom: #{$button-md-small-padding-bottom};

    height: #{$button-md-small-height};

    font-size: #{$button-md-small-font-size};
    }


    // MD strong Button
    // --------------------------------------------------

    :host(.button-strong) {
    font-weight: #{$button-md-strong-font-weight};
    }

    ::slotted(ion-icon[slot="icon-only"]) {
    @include padding(0);
    }


    // Material Design Button: Hover
    // --------------------------------------------------

    :host(.med-button-solid.ion-color.ion-focused) .button-native::after {
    background: #{current-color(contrast)};

    opacity: .24;
    }

    :host(.med-button-clear.ion-color.ion-focused) .button-native::after,
    :host(.med-button-outline.ion-color.ion-focused) .button-native::after {
    background: #{current-color(base)};

    opacity: .12;
    }

    @media (any-hover: hover) {
    :host(.med-button-solid.ion-color:hover) .button-native::after {
        background: #{current-color(contrast)};

        opacity: .08;
    }

    :host(.med-button-clear.ion-color:hover) .button-native::after,
    :host(.med-button-outline.ion-color:hover) .button-native::after {
        background: #{current-color(base)};

        opacity: .04;
    }
}

//@import './medgrupo/button.med.scss';

//@import './medgrupo/button-default.med.scss';
@import './medgrupo/button-secondary.med.scss';

//@import "../../../med-components/abstracts";

@import "../../../med-components/abstracts";

:host {
  /**
   * OBS: sobreescrita das css custom properties do ionic.
   * @prop --background: Define a cor de background do componente.
   * @prop --color: Define a cor de texto do componente.
   */
  --background: #{md-color(brand, gradient)};
  --color: #{md-color(brand, contrast-1)};
  --border-radius: #{$med-border-radius-pill};
  --transition: background 300ms ease-out, color 300ms ease-out, border-color 300ms ease-out, opacity 300ms ease-out;
  --font-size: #{$med-font-size-xxs};
  --padding: #{$med-spacing-squish-base};
  --min-height: 48px;
}

:host(.med-button) {
  min-height: var(--min-height);
  min-width: auto;
  height: auto;
  font-size: var(--font-size);
  font-weight: $med-font-weight-semibold;
  text-transform: uppercase;
  margin: 0;
}

:host(.med-button) .button-native {
  padding: var(--padding);
  min-height: var(--min-height);
  line-height: $med-line-height-compressed;
  box-shadow: none;
}

// ////////////////////
// slotted
// ////////////////////

::slotted(ion-icon) {
  font-size: 24px;
}

::slotted(ion-icon[slot="start"]) {
  margin: 0 $med-spacing-inline-nano 0 0;
}

::slotted(ion-icon[slot="end"]) {
  margin: 0 0 0 $med-spacing-inline-nano;
}

// ////////////////////
// icon-only
// ////////////////////

:host(.med-button.button-has-icon-only) {
  --border-radius: #{$med-border-radius-full};
  --padding: 0px 12px;
}

// ////////////////////
// sizes
// ////////////////////

:host(.med-button.med-button--sm) {
  --min-height: 40px;
}

:host(.med-button.med-button--xs) {
  --padding: #{$med-spacing-squish-sm};
  --min-height: 32px;
}

:host(.med-button.med-button--xxs) {
  --padding: 0 #{$med-spacing-inline-base};
  --min-height: 24px;
  --font-size: #{$med-font-size-nano};
}

:host(.med-button.med-button--xxs) ::slotted(ion-icon) {
  font-size: 16px;
}

// ////////////////////
// states
// ////////////////////

@media (any-hover: hover) {
  :host(.med-button:hover) .button-native::before {
    background: md-color(brand, 3);
    opacity: 1;
  }
}

:host(.med-button.ion-focused) .button-native::before {
  background: md-color(brand, 3);
  opacity: 1;
}

:host(.med-button.ion-activated) .button-native::before {
  background: md-color(brand, 2);
  opacity: 1;
}

:host(.med-button.button-disabled) {
  cursor: initial;
  pointer-events: none;
}

:host(.med-button.button-disabled) .button-native::before {
  background: var(--med-color-neutral-8);
  opacity: 1;
}

// ////////////////////
// color
// ////////////////////

:host(.med-button.ion-color)  {
  --background: #{md-current-color(gradient)};
  --color: #{md-current-color(contrast-1)};
}

@media (any-hover: hover) {
  :host(.med-button.ion-color:hover) .button-native::before {
    background: md-current-color(3);
  }
}

:host(.med-button.ion-color.ion-focused) .button-native::before {
  background: md-current-color(3);
}

:host(.med-button.ion-color.ion-activated) .button-native::before {
  background: md-current-color(3);
}

:host(.med-button.ion-color.button-disabled) .button-native::before {
  background: var(--med-color-neutral-8);
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-button.med-neutral)  {
  --background: var(--med-neutral);
  --color: var(--med-neutral-contrast);
}

@media (any-hover: hover) {
  :host(.med-button.med-neutral:hover) .button-native::before {
    background: var(--med-color-neutral-2);
  }
}

:host(.med-button.med-neutral.ion-focused) .button-native::before {
  background: var(--med-color-neutral-2);
}

:host(.med-button.med-neutral.ion-activated) .button-native::before {
  background: var(--med-color-neutral-2);
}

:host(.med-button.med-neutral.button-disabled) .button-native::before {
  background: var(--med-color-neutral-8);
}

// //////////////////////////////
// after removal and before replace
// //////////////////////////////

:host .button-native::after {
  display: none;
}

:host .button-native::before {
  @include button-state();
  transition: var(--transition);
}

@import "../../../med-components/abstracts";

// //////////////////////////////
// secondary
// //////////////////////////////

:host(.med-button--secondary) {
  --background: transparent;
  --color: #{md-color(brand, 4)};
  --border-color: #{md-color(brand, 4)};
  --ripple-color: transparent;

  --border-width: #{$med-border-width-thin};
  --border-style: solid;

}

// ////////////////////
// icon-only
// ////////////////////

:host(.med-button--secondary.button-has-icon-only) {
  --padding: 0px 10px;
}

// ////////////////////
// states
// ////////////////////

@media (any-hover: hover) {
  :host(.med-button--secondary:hover) {
    --color: #{md-color(brand, 3)};
    --background: transparent;
    --border-color: #{md-color(brand, 3)};
  }
}

:host(.med-button--secondary.ion-focused) {
  --color: #{md-color(brand, 3)};
  --background: transparent;
  --border-color: #{md-color(brand, 3)};
}

:host(.med-button--secondary.ion-activated) {
  --color: #{md-color(brand, 2)};
  --background: transparent;
  --border-color: #{md-color(brand, 2)};
}

:host(.med-button--secondary.button-disabled) {
  --color: var(--med-color-neutral-8);
  --background: transparent;
  --border-color: var(--med-color-neutral-8);
}

// //////////
// before disable
// //////////

@media (any-hover: hover) {
  :host(.med-button--secondary:hover) .button-native::before {
    opacity: 0;
  }
}

:host(.med-button--secondary.ion-focused) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.ion-activated) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.button-disabled) .button-native::before {
  opacity: 0;
}

// ////////////////////
// color
// ////////////////////

:host(.med-button--secondary.ion-color)  {
  --background: transparent;
  --color: #{md-current-color(4)};
  --border-color: #{md-current-color(4)};
}

@media (any-hover: hover) {
  :host(.med-button--secondary.ion-color:hover) {
    --color: #{md-current-color(3)};
    --border-color: #{md-current-color(3)};
  }
}

:host(.med-button--secondary.ion-color.ion-focused) {
  --color: #{md-current-color(3)};
  --border-color: #{md-current-color(3)};
}

:host(.med-button--secondary.ion-color.ion-activated) {
  --color: #{md-current-color(2)};
  --border-color: #{md-current-color(2)};
}

:host(.med-button--secondary.ion-color.button-disabled) {
  --color: var(--med-color-neutral-8);
  --border-color: var(--med-color-neutral-8);
}

// //////////
// before disable
// //////////

:host(.med-button--secondary.ion-color) .button-native::before {
  opacity: 0;
}

@media (any-hover: hover) {
  :host(.med-button--secondary.ion-color:hover) .button-native::before {
    opacity: 0;
  }
}

:host(.med-button--secondary.ion-color.ion-focused) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.ion-color.ion-activated) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.ion-color.button-disabled) .button-native::before {
  cursor: initial;
  pointer-events: none;
  opacity: 0;
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-button--secondary.med-neutral)  {
  --background: transparent;
  --color: var(--med-neutral);
  --border-color: var(--med-neutral);
}

@media (any-hover: hover) {
  :host(.med-button--secondary.med-neutral:hover) {
    --color: var(--med-neutral);
    --border-color: var(--med-neutral);
  }
}

:host(.med-button--secondary.med-neutral.ion-focused) {
  --color: var(--med-neutral);
  --border-color: var(--med-neutral);
}

:host(.med-button--secondary.med-neutral.ion-activated) {
  --color: var(--med-neutral);
  --border-color: var(--med-neutral);
}

:host(.med-button--secondary.med-neutral.button-disabled) {
  --color: var(--med-color-neutral-8);
  --border-color: var(--med-color-neutral-8);
}

// //////////
// before disable
// //////////

:host(.med-button--secondary.med-neutral) .button-native::before {
  opacity: 0;
}

@media (any-hover: hover) {
  :host(.med-button--secondary.med-neutral:hover) .button-native::before {
    opacity: 0;
  }
}

:host(.med-button--secondary.med-neutral.ion-focused) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.med-neutral.ion-activated) .button-native::before {
  opacity: 0;
}

:host(.med-button--secondary.med-neutral.button-disabled) .button-native::before {
  cursor: initial;
  pointer-events: none;
  opacity: 0;
}

// //////////////////////////////
// tertiary
// //////////////////////////////

:host(.med-button--tertiary) {
  --background: transparent;
  --color: var(--med-color-neutral-10);
  --border-radius: #{$med-border-radius-nano};
  --padding: #{$med-spacing-inset-xs};
  --min-height: 32px;
}

// ////////////////////
// icon-only
// ////////////////////

:host(.med-button--tertiary.button-has-icon-only) {
  --padding: 8px;
}

// ////////////////////
// states
// ////////////////////

:host(.med-button--tertiary.button-disabled) {
  --color: var(--med-color-neutral-10);
}

// //////////
// before disable
// //////////

@media (any-hover: hover) {
  :host(.med-button--tertiary:hover) .button-native::before {
    background: md-color(brand, 3, $med-opacity-level-light);
  }
}

:host(.med-button--tertiary.ion-focused) .button-native::before {
  background: md-color(brand, 3, $med-opacity-level-light);
}

:host(.med-button--tertiary.ion-activated) .button-native::before {
  background: transparent
}

:host(.med-button--tertiary.button-disabled) .button-native::before {
  opacity: 0;
}

// ////////////////////
// color
// ////////////////////

:host(.med-button--tertiary.ion-color) {
  --background: transparent;
  --color: var(--med-color-neutral-10);
}

@media (any-hover: hover) {
  :host(.med-button--tertiary.ion-color:hover) .button-native::before {
    background: md-current-color(3, $med-opacity-level-light);
  }
}

:host(.med-button--tertiary.ion-color.ion-focused) .button-native::before {
  background: md-current-color(3, $med-opacity-level-light);
}

:host(.med-button--tertiary.ion-color.ion-activated) .button-native::before {
  background: transparent
}

:host(.med-button--tertiary.ion-color.button-disabled) .button-native::before {
  opacity: 0;
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-button--tertiary.med-neutral) {
  --background: transparent;
  --color: var(--med-color-neutral-10);
}

@media (any-hover: hover) {
  :host(.med-button--tertiary.med-neutral:hover) .button-native::before {
    background: rgba(var(--med-neutral-rgb), $med-opacity-level-light);
  }
}

:host(.med-button--tertiary.med-neutral.ion-focused) .button-native::before {
  background: rgba(var(--med-neutral-rgb), $med-opacity-level-light);
}

:host(.med-button--tertiary.med-neutral.ion-activated) .button-native::before {
  background: transparent
}

:host(.med-button--tertiary.med-neutral.button-disabled) .button-native::before {
  opacity: 0;
}
