@import "../../../../../templarios/abstracts";

:host {
  --padding: var(--med-spacing-squish-xs);
  --background: transparent;
  --border-radius: var(--med-border-radius-sm);
  --font-size-title: var(--med-font-size-xs);
  --color-title: var(--med-color-neutral-10);
  --font-size-label: var(--med-font-size-xxxs);
  --color-label: #{color('brand', '4')};
}

:host(.med-list-item) {
  background-image: linear-gradient(to right, rgba(var(--med-color-neutral-2-rgb),1),
  rgba(var(--med-color-neutral-2-rgb),0.1),
  rgba(var(--med-color-neutral-2-rgb),0));
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: .5s;
  display: flex;
  padding: var(--padding);
  align-items: center;

  .med-list-item__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
  }

  .med-list-item__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height-compressed);
    color: var(--color-title);
  }

  .med-list-item__label {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-compressed);
    color: var(--color-label);
  }

  .med-list-item__border-radius {
    border-radius: var(--border-radius);
  }
}

:host(.med-list-item--selected) {
  background-position: 0 0;
}

// ////////////////////
// slots
// ////////////////////

::slotted([slot="start"]) {
  margin-right: var(--spacing-inline-base);
}

::slotted([slot="end"]) {
  margin-left: var(--spacing-inline-base);
}

// ////////////////////
// sizes
// ////////////////////

:host(.med-list-item--xs) {
  --padding: var(--med-spacing-squish-xs);
}

:host(.med-list-item--sm) {
  --padding: var(--spacing-inset-sm);
}

:host(.med-list-item--md) {
  --padding: var(--spacing-stretch-md);
}

// ////////////////////
// color
// ////////////////////

:host(.med-list-item.ion-color) {
  --border-background-selected: #{curr-color('color', '3')};
  --color-label: #{curr-color('color', '3')};
}

:host(.med-list-item.ion-color) ::slotted(*) {
  --border-color: #{curr-color('color', '4')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-list-item.med-neutral) {
  --border-background-selected: var(--med-neutral);
  --color-label: var(--med-neutral);
}

:host(.med-list-item.med-neutral) ::slotted(*) {
  --border-color: var(--med-neutral);
}
