@import "../../../../../med-components/abstracts";

:host {
  position: relative;
  padding: 0px;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
