[tp-search-bar].sc-ion-searchbar-md-h {
  --background: transparent !important;
  --color: hsl(var(--med-color-neutral-10)) !important;
  --placeholder-color: hsl(var(--med-color-neutral-3)) !important;
  --placeholder-opacity: 1 !important;

  height: 72px;
  padding: 0px !important;
}

[tp-search-bar] .searchbar-input.sc-ion-searchbar-md {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  height: 72px;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

[tp-search-bar] .searchbar-input-container.sc-ion-searchbar-md {
  height: 72px;
}

[tp-search-bar] .searchbar-search-icon.sc-ion-searchbar-md {
  display: none !important;
}

[tp-search-bar] .searchbar-clear-button.sc-ion-searchbar-md {
  display: none !important;
}

[tp-search-bar] .searchbar-clear-icon.sc-ion-searchbar-md {
  display: none !important;
}
