.concursos {
  background: hsl(var(--med-color-neutral-15));
  height: 100%;

  &__input {
    padding: 16px;
    display: flex;
    align-items: center;

    .med-icon {
      width: 24px;
      height: 24px;
      stroke: hsl(var(--med-color-neutral-10));
      margin-right: 16px;
    }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;

    .med-icon {
      width: 64px;
      height: 64px;
      stroke: hsl(var(--med-color-neutral-10));
    }
  }

  &__text {
    margin-top: 8px;
    text-align: center;
  }
}