.input-concursos {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  max-width: 1096px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint-down('sm') {
    padding: 16px 24px;
  }

  &--desempenho {
    padding: 32px 0;

    @include breakpoint-down('sm') {
      padding: 24px 0;
    }
  }

  .med-icon {
    width: 24px;
    height: 24px;
    stroke: hsl(var(--med-color-neutral-10));
    margin-right: 16px;
  }
}

.concursos-buscar {
  // altera a configuração geral do background do ion-content
  --background: hsl(var(--med-color-neutral-15)) !important;

  &__middle {
    height: 100%;
    width: 100%;
    padding: 32px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1096px;
    margin: 0 auto;

    .med-icon {
      width: 64px;
      height: 64px;
      stroke: hsl(var(--med-color-neutral-10));
    }
  }

  &__text {
    margin-top: 8px;
    text-align: center;
  }
}
