.concursos {
  &__container {
    padding: 32px 40px;
    margin: 0 auto;
    max-width: 1096px;

    @include breakpoint-down('sm') {
      padding: 24px;
    }
  }

  &__tiles {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
