// see:
@mixin text-inherit() {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  letter-spacing: inherit;
  white-space: inherit;
  text-align: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
}
