.slides {
  height: calc(100% - 56px);
  padding: 16px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  &__content {
    height: 95%;
  }

  .swiper-pagination {
    display: none;
  }

  &__contador {
    text-align: center;
    margin-top: 8px;
  }
}
