:host {
  --background: #{color('brand', '3')};
  --color: #{color('brand', '3', 'contrast')};
}

:host {
  font-size: var(--font-size);
  min-width: var(--size);
  height: var(--size);
  color: var(--color);
  background: var(--background);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  border-radius: 500px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.med-avatar {
  &__image {
    width: var(--size);
    height: auto;
    display: block;
  }
}

//////////////////////////////
// dsColors
//////////////////////////////

:host(.med-color) {
  --background: #{curr-color('color', '3')};
  --color: #{curr-color('color', '3', 'contrast')};
}

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
  --color: #{curr-color('neutral', null, 'contrast')};
}

:host(.med-color-feedback) {
  --background: #{curr-color('feedback')};
  --color: #{curr-color('feedback', null, 'contrast')};
}

//////////////////////////////
// dsSize
//////////////////////////////

:host(.med-avatar--xxs) {
  --size: 24px;
  --font-weight: 600;
  --font-size: 16px;
  --line-height: 16px;
}

:host(.med-avatar--xs) {
  --size: 32px;
  --font-weight: 600;
  --font-size: 16px;
  --line-height: 16px;
}

:host(.med-avatar--sm) {
  --size: 40px;
  --font-weight: 600;
  --font-size: 24px;
  --line-height: 24px;
}

:host(.med-avatar--base) {
  --size: 48px;
  --font-weight: 600;
  --font-size: 24px;
  --line-height: 24px;
}

:host(.med-avatar--md) {
  --size: 56px;
  --font-weight: 600;
  --font-size: 32px;
  --line-height: 32px;
}

:host(.med-avatar--lg) {
  --size: 64px;
  --font-weight: 600;
  --font-size: 32px;
  --line-height: 32px;
}

:host(.med-avatar--xl) {
  --size: 72px;
  --font-weight: 600;
  --font-size: 48px;
  --line-height: 48px;
}

:host(.med-avatar--xxl) {
  --size: 80px;
  --font-weight: 600;
  --font-size: 48px;
  --line-height: 48px;
}
