@import "../../../../../../templarios/abstracts";

:host {
  --font-size: 16px;
  --riscar-flex-direction: column;

  .alternativas {
    list-style: none;
    padding: 0;
    margin: 0;

    &--imagem {
      @include breakpoint-up('md') {
        display: flex;
        flex-wrap: wrap;
      }

      .alternativa {
        align-items: flex-start;

        &:nth-of-type(odd) {
          margin-right: auto;
          padding-right: 0;

          @include breakpoint-up('md') {
           padding-right: var(--med-spacing-inline-base);
          }
        }

        &:nth-of-type(even) {
          margin-right: auto;
        }

        &__image {
          display: block;

          @include breakpoint-up('md') {
            width: 360px;
          }
        }
      }
    }
  }

  .alternativa-wrapper {
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .alternativa {
    display: flex;
    align-items: start;
    padding: var(--med-spacing-stack-base);
    cursor: pointer;
    min-height: 50px;

    .image-container {
      position: relative;
    }

    @media (any-hover: hover) {
      .image-container:hover {
        .overlay  {
          opacity: 1;
          visibility: visible;
          transition: opacity 300ms ease;
        }
      }
    }

    .overlay {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      &__content {
        display: flex;
        align-items: center;
      }

      &__label {
        margin: 0 10px 0 0;
      }

      ion-icon {
        font-size: 24px;
      }
    }

    &__right {
      margin-left: var(--med-spacing-inline-base);
      flex: 1;
      overflow: hidden;
    }

    &__text {
      color: var(--color-neutral-dark-10);
      font-size: var(--font-size);
      font-weight: var(--med-font-weight-regular);
      line-height: line-height();
      text-align: justify;
      margin: 0;
    }

    &__image {
      width: 100%;
      height: auto;
    }

    &__option {
      position: relative;

      &--riscada {
        pointer-events: none;
      }
    }

    &--correta {
      med-option {
        --background: #{color('feedback', 'success')};
      }
    }

    &--incorreto {
      med-option {
        --background:#{color('feedback', 'caution')};
      }
    }

    &--pode-riscar:not(:hover) {
      .riscar {
        display: none;
      }
    }

    &--pode-riscar:hover,
    &--pode-riscar-mobile {
      background-color: #{color('neutral', '9')};

      .riscar {
        cursor: pointer;
        flex-direction: var(--riscar-flex-direction);
        margin-left: var(--spacing-inline-md);
        display: flex;
        align-items: center;

        ion-icon {
          margin: var(--riscar-icon-margin);
          color: #{color('neutral', '2')};
          font-size: 32px;
        }

        &__label {
          font-size: var(--med-font-size-xxs);
          font-weight: var(--med-font-weight-regular);
          color: #{color('neutral', '1')};
          line-height: var(--med-line-height-compressed);
        }
      }
    }

    &--riscada {
      .alternativa__option {
        opacity: var(--med-opacity-level-half);
      }

      .alternativa__text {
        text-decoration: line-through;
        opacity: var(--med-opacity-level-half);
      }
    }

    &--pressed {
      background-color: #{color('neutral', '2')};;
    }
  }

  .ion-progress-bar {
    transition: all 300ms ease;
    opacity: 0;
    transform: translateX(-100%);

    &--toggle {
      opacity: 1;
      transform: translateX(0);
    }

    &--100 {
      --progress-background: #{color('feedback', 'success')};;
    }
  }
}

// ////////////////////
// color
// ////////////////////

:host(.alternativa--pode-riscar:hover),
:host(.alternativa--pode-riscar-mobile) {
  background: #{curr-color('color', '2')};
}
