@import "../../../../themes/ionic.globals";
@import "../../../../../templarios/abstracts";

:host {
  --button-left-color: var(--color-neutral-light-prime);
  --button-right-color: var(--color-brand-primary-medium);

  display: block;
  padding: var(--spacing-inset-sm);

  .header {
    padding-top: var(--spacing-stack-xxxs);
    padding-bottom: var(--spacing-stack-xxxs);
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-bold);
    line-height: line-height($med-font-size-xxxs);
    color: var(--color-neutral-light-prime);
    margin: 0;
  }

  .content {
    font-size: var(--font-size-xxxs);
    font-weight: var(--font-weight-regular);
    line-height: line-height($med-font-size-xxxs);
    color: var(--color-neutral-light-prime);
    margin: 0;
  }

  .button-container {
    padding-top: var(--spacing-stack-base);
    display: flex;
    justify-content: space-between;
  }

  .button {
    @include text-inherit();
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .button--left {
    font-size: var(--font-size-xxxs);
    font-weight: var(--font-weight-regular);
    line-height: line-height($med-font-size-xxxs);
    color: var(--button-left-color);
    margin: 0;
  }

  .button--right {
    font-size: var(--font-size-xxxs);
    font-weight: var(--font-weight-regular);
    line-height: line-height($med-font-size-xxxs);
    color: var(--button-right-color);
    margin: 0;
  }
}

:host(.simple) {
  padding: var(--med-spacing-squish-nano);
}
