@import "../../../templarios/abstracts";

:host {
  --bar-background: #{color('neutral', '8')};
  --bar-background-active: #{color('brand', '4')};
  padding: 0;
}

::slotted([slot="start"]) {
  stroke: #{color('neutral', '8')};
}

::slotted([slot="end"]) {
  stroke: #{color('neutral', '8')};
}
