@import "../../../../../med-components/abstracts";

:host {
  --z-index: 1;
  --background: #{var(--med-color-neutral-6)};
  --color: #{var(--med-color-neutral-3)};
}

:host(.med-context-menu) {
  display: block;
  position: relative;

  .med-context-menu {
    &__content {
      z-index: var(--z-index);
      position: absolute;
      background: var(--background);
      right: -8px;
      top: -8px;
      min-width: 250px;
      width: 100%;
      box-shadow: $med-shadow-level-4;
      border-radius: $med-border-radius-nano;
      padding: $med-spacing-inset-sm;
    }

    &__button {
      color: var(--med-color-neutral-6);
    }

    &__inner-button {
      position: absolute;
      right: 8px;
      top: 9px;
      color: var(--med-color-neutral-3);
    }
  }
}

