@import "./abstracts";

@import "./tokens/cores";
@import "./tokens/tipografia";
@import "./tokens/espacamento";
@import "./tokens/complementares";

.med-icon {
  width: 24px;
  height: 24px;
  --ionicon-stroke-width: 2;

  &--xxs {
    width: 12px;
    height: 12px;
    --ionicon-stroke-width: 1;
  }

  &--xs {
    width: 16px;
    height: 16px;
    --ionicon-stroke-width: 1;
  }

  &--sm {
    width: 24px;
    height: 24px;
    --ionicon-stroke-width: 2;
  }

  &--md {
    width: 32px;
    height: 32px;
    --ionicon-stroke-width: 3;
  }

  &--lg {
    width: 48px;
    height: 48px;
    --ionicon-stroke-width: 4;
  }

}
