@import "./textarea";
@import "./textarea.md.vars";

// Material Design Textarea
// --------------------------------------------------

:host {
  --padding-top: #{$textarea-md-padding-top};
  --padding-end: #{$textarea-md-padding-end};
  --padding-bottom: #{$textarea-md-padding-bottom};
  --padding-start: #{$textarea-md-padding-start};

  @include margin(8px, 0, 0, 0);

  font-size: $textarea-md-font-size;
}

:host-context(.item-label-stacked),
:host-context(.item-label-floating) {
  --padding-top: 8px;
  --padding-bottom: 8px;
  --padding-start: 0;
}

:host {
  --padding-top: 12px;
  --padding-end: 16px;
  --padding-bottom: 12px;
  --padding-start: 16px;
  --placeholder-opacity: 1;
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 16px;
  --background: #{color('neutral', '2')};
  --color: #{color('neutral', '10')};
  --placeholder-color: #{color('neutral', '5')};
  --placeholder-font-size: 14px;
  --placeholder-font-weight: 400;
  --placeholder-line-height: 16px;
  --border-radius: 8px;
  --min-height: 80px;
}

:host {
  margin-top: 0;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  white-space: inherit;
  min-height: var(--min-height);
  border-radius: var(--border-radius);

  .native-textarea {
    border-radius: var(--border-radius);
    min-height: var(--min-height);

    &::placeholder {
      font-size: var(--placeholder-font-size);
      font-weight: var(--placeholder-font-weight);
      line-height: var(--placeholder-line-height);
    }
  }

  .native-textarea[disabled] {
    opacity: 0.5;
  }
}

:host(.med-textarea--secondary) {
  --background: #{color('neutral', '3')};
  --placeholder-color: #{color('neutral', '6')};
}
