@import "../../../templarios/abstracts";


:host {
  --background: #{color('neutral', '3')};
  --color: #{color('neutral', '0')};
  --font-size: 14px;
  --font-weight: 600;
  --line-height: 16px;
  --padding-top: 8px;
  --padding-end: 8px;
  --padding-bottom: 8px;
  --padding-start: 16px;
  --placeholder-color: #{color('neutral', '9')};
  --placeholder-font-size: 14px;
  --placeholder-font-weight: 400;
  --placeholder-line-height: 16px;
  --placeholder-opacity: 1;

  --height: 112px;
  --border-radius: 8px;

  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #{color('neutral', '3')};
  min-height: var(--height);
  text-align: left;
  display: flex;
  min-width: 100%;
  margin: 0;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);

  &::placeholder {
    line-height: var(--line-height);
    font-size: var(--placeholder-font-size);
  }

  .native-textarea.sc-ion-textarea-md {
    min-height: var(--height);
  }
}
