

:host {
  --background: #{color('brand', '1')};
  --color: #{color('brand', '1', 'contrast')};
}

:host(.med-titulo-materia) {
  background: var(--background);
  padding: 16px;
  display: flex;
  align-items: center;
  max-width: 1200px;
}

:host(.med-titulo-materia) .med-titulo-materia__content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

:host(.med-titulo-materia) .med-titulo-materia__titulo {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: var(--color);
}

:host(.med-titulo-materia) .med-titulo-materia__descricao {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: var(--color);
}

// ////////////////////
// slots
// ////////////////////

::slotted([slot="start"]) {
  margin-right: 16px;
}

::slotted([slot="end"]) {
  margin-left: 16px;
}

// ////////////////////
// color
// ////////////////////

:host(.med-color) {
  --background: #{curr-color('color', '3')};
  --color: #{curr-color('color', '1', 'contrast')};
}

// ////////////////////
// neutral
// ////////////////////

:host(.med-color-neutral) {
  --background: #{curr-color('neutral')};
  --color: #{curr-color('neutral', '1', 'contrast')};
}

// //////////
// feedback
// //////////

:host(.med-color-feedback) {
  --background: #{curr-color('feedback')};
  --color: #{curr-color('feedback', '1', 'contrast')};
}
